<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-validatable-behavior/iron-validatable-behavior.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../form-control.html">
<link rel="import" href="../studentcare-form-behavior.html">

<link rel="import" href="homevisit-query.html">
<link rel="import" href="homevisit-sdq-query.html">
<link rel="import" href="weight-height-query.html">
<link rel="import" href="grade-query.html">
<link rel="import" href="disability-query.html">

<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

<dom-module id="screening-secondary-form">
  <template>
    <style include="iron-flex iron-flex-alignment iron-flex-factors">

      :host {
        @apply --paper-font-display;
        @apply --layout-vertical;
        background-color: white;
        display: block;
        font-family: 'Athiti', sans-serif;
        --paper-checkbox-vertical-align: top;
        --paper-checkbox-margin: 8px 16px 8px 0;
      }

      .invalid {
        border: 1px solid #ee0000;
      }

      .formEntry div {
        @apply --paper-font-display;
        margin:3px;
        padding:0px;
      }

      .evaluation {
        padding:5px;
      }

      .sub-question {
        padding-left:20px;
      }

      .topic1 {
        padding:20px;
        margin-right:20px;
        @apply --layout-vertical;
      }

      .topic1 paper-input {
        /*font-family: 'Itim', cursive;
         font-size: 120%;*/
        margin-left:50px;

      }

      .topic1 paper-checkbox {
        margin-top:10px;
      }

      .check-icon {
        width:30px;
      }
      .null_value{
        margin-left: 5px;
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
      }
      .font-face-normal {
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
      }
      .font-face-underline {
        font-family: 'Athiti', sans-serif;
        /*font-weight: bold;*/
        text-decoration: underline;;
        font-size: 120%;
      }
      .font-face-bolder {
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
        font-weight: bold;
      }

      .border-topic{
        border-bottom: 1px solid var(--paper-grey-300);
      }

      .flex-1{
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
      }
      label{
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
      }
      .headQ{
        font-weight: bold;
        font-size: 120%;
      }
      /*.label2{
 font-family: 'Itim', cursive;
        font-size: 120%;
      }*/
      paper-checkbox{
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
        margin-right:20px;
      }
      .margin-content{
        margin-right: 20px;
      }
     #res {
      --paper-input-container-input: {
        /*font-size: 24px;*/
        font-family: 'Athiti', sans-serif;
      };
      --paper-input-container-label:{
        font-family: 'Athiti', sans-serif;
      };
      /* .. */
      --paper-input-container-focus-color:#F44336;
      /* .. */
     }

     .margin-content{
       margin-right: 20px;
     }
    </style>

    <homevisit-query host="{{document.value.dmc.host}}"
       cid="{{document.value.student.cid}}"
       document="{{homevisit}}">
    </homevisit-query>

    <homevisit-sdq-query host="{{document.value.dmc.host}}"
       cid="{{document.value.student.cid}}"
       document="{{homevisitSDQ}}">
    </homevisit-sdq-query>
    
    <disability-query
      cid="{{document.value.student.cid}}"
      year="{{document.value.dmc.year}}"
      is-visual="{{document.value.form_value.q3_5_m}}"
      is-hearing="{{document.value.form_value.q3_6_m}}"
      is-health="{{document.value.form_value.q3_7_m}}"
      document="{{disability}}">
    </disability-query>

    <weight-height-query
      cid="{{document.value.student.cid}}"
      semester="{{document.value.student.semester}}"
      year="{{document.value.student.year}}"
      is-weight-height="{{document.value.form_value.q3_1_m}}">
    </weight-height-query>

    <!--<grade-query
      cid="1417100037098"
      year="2558"
      semester="6"
      is-gpax-lessthan-one="{{document.value.form_value.q2_1_p}}"
      is-gpax-between="{{document.value.form_value.q2_1_m}}"
      document="{{gradedoc}}">
    </grade-query>-->

    <grade-query
      cid="{{document.value.student.cid}}"
      year="{{document.value.student.year}}"
      semester="{{document.value.student.semester}}"
	    is-gpax-lessthan-one="{{document.value.form_value.q2_1_p}}"
	    is-gpax-between="{{document.value.form_value.q2_1_m}}"
      document="{{gradedoc}}">
    </grade-query>

    <form-control id="control"
      on-form-action="_tap"
      doc-key="{{document.key}}"
      doc-value="{{document.value}}">
      <div slot="description">
        <ol class="num"><b class="font-face-bolder"> คำชี้แจง</b>
         <li class="font-face-normal">ให้เลือกว่าอาการในแต่ละข้อนั้นตรงกับลักษณะของเด็กที่ท่านประเมินเพียงใด</li>
        </ol>
      </div>
      <div slot="formEntry" class="margin-content margin-div">
           <label class="headQ">1. ด้านความสามารถ</label>
           <paper-radio-group aria-labelledby="label1" selected="{{document.value.form_value.q1}}">
             <paper-radio-button name="y" class="font-face-normal">มี</paper-radio-button>
             <paper-radio-button name="n" class="font-face-normal">ไม่มี</paper-radio-button>
           </paper-radio-group>
           <template is="dom-if" if="{{_isEquals(document.value.form_value.q1,'y')}}">
           <div class="topic1">
             <paper-checkbox checked="{{document.value.form_value.q1_1}}">
              <div class="font-face-normal">กลุ่มสาระการเรียนรู้คณิตศาสตร์</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_1_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_1}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_1_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_1}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_2}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้ภาษาไทย</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_2_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_2}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_2_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_2}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_3}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้ภาษาต่างประเทศ</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_3_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_3}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_3_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_3}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_4}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้วิทยาศาสตร์</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_4_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_4}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_4_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_4}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_5}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้ศิลปะ</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_5_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_5}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_5_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_5}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_6}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้การงานอาชีพและเทคโนโลยี</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_6_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_6}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_6_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_6}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_7}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้สุขศึกษาและพลศึกษา</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_7_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_7}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_7_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_7}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_8}}">
             <div class="font-face-normal">กลุ่มสาระการเรียนรู้สังคมศึกษา ศาสนา และวัฒนธรรม</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_8_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_8}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_8_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_8}}">
             </paper-input>

             <paper-checkbox checked="{{document.value.form_value.q1_9}}">
             <div class="font-face-normal"> อื่น ๆ</div>
             </paper-checkbox>
             <paper-input id ="res" value="{{document.value.form_value.q1_9_t1}}"
               label="ลำดับที่ 1"
               disabled="{{!document.value.form_value.q1_9}}">
             </paper-input>
             <paper-input id ="res" value="{{document.value.form_value.q1_9_t2}}"
               label="ลำดับที่ 2"
               disabled="{{!document.value.form_value.q1_9}}">
             </paper-input>
           </div>
           </template>
         <!--</li>
         <li>-->
           <!--<label id="label2"  class="headQ">ด้านการเรียน</label>-->
           <div class="flex layout horizontal">
             <label class="headQ">1.1 ผลการเรียน ({{_gpax}})</label>
           </div>
           <paper-input id ="res"  label="ผลการประเมิน" readonly
             value="{{_q2Text(document.value.form_value.q2)}}">
           </paper-input>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_1_m}}" disabled>
                 ผลการเรียนเฉลี่ย 1.00 - 2.00
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_1_p}}" disabled>
                 ผลการเรียนเฉลี่ยต่ำกว่า 1.00
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal border-topic">
             <div class="flex-6  margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_2_m}}"><!-- M ซ้าย -->
                 ติด 0, ร, มส, มผ 1-2 วิชา ต่อ 1 ภาคเรียน
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_2_p}}"><!-- P ขวา -->
                 ติด 0, ร, มส, มผ มากกว่า 2 วิชา ต่อ 1 ภาคเรียน
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             เข้าเรียน
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_3_m}}">
                 ไม่เขัาเรียน 1-2 ครั้ง ต่อ รายวิชา
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_5_p}}">
                 ไม่เข้าเรียนหลายครั้งโดยไม่มีเหตุจำเป็น
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_4_m}}">
                 มาเรียนสาย 3 ครั้งต่อสัปดาห์
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_4_p}}">
                 มาเรียนสายมากกว่า 3 ครั้งต่อสัปดาห์
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal border-topic">
             <div class="flex-6 margin-content">&nbsp;</div>
             <div class="flex-6 margin-content">
              <paper-checkbox checked="{{document.value.form_value.q2_7_p}}">
               ขาดเรียนบ่อยมากกว่า 1 วันต่อสัปดาห์
              </paper-checkbox>
            </div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             ความตั้งใจ/สมาธิในการเรียน
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_5_m}}">
                 ไม่ตั้งใจเรียนขณะครูสอน
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_6_p}}">
                 สมาธิสั้น
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal border-topic">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_6_m}}">
                 ไม่มีอุปกรณ์การเรียนมาเรียนหรือนำอุปกรณ์การเรียนมาไม่ครบ
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">&nbsp;
             </div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             การอ่าน/การเขียน
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_7_m}}">
                  อ่านสะกดคำไม่ได้
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">&nbsp;</div>
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_10_m}}">
                  อ่านไม่ได้ใจความ
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">&nbsp;</div>
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox cchecked="{{document.value.form_value.q2_8_m}}">
                 จับใจความสำคัญไม่ได้
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">&nbsp;</div>
           </div>
           <div class="flex layout horizontal border-topic">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_9_m}}">
                  เขียนตัวอักษรไม่ได้
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content ">&nbsp;</div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             ความรับผิดชอบ
           </div>
           <div class="flex layout horizontal border-topic">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_11_m}}">
                  ไม่ส่งงาน 1-2 วิชา
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_11_p}}">
                 ไม่ส่งงานมากกว่า 2 วิชา
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             อื่นๆ
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_12_m}}">
                  ไม่ผ่านคุณลักษณะอันพึงประสงค์ 1 ข้อ
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_12_p}}">
                 ไม่ผ่านคุณลักษณะอันพึงประสงค์ตั้งแต่ 2 ข้อขึ้นไป
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_13_m}}">
                  ผลการประเมินการอ่านคิดวิเคราะห์และเขียนสื่อความอยู่ในระดับ 1
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q2_13_p}}">
                  ผลการประเมินการอ่านคิดวิเคราะห์และเขียนสื่อความไม่ผ่าน
               </paper-checkbox>
             </div>
           </div>
         <!--</li>-->
         <!-- ********************** homevisit ************************************** -->
          <label class="headQ">2. ด้านครอบครัว</label>
          <template is="dom-if" if="{{!_isEqual(homevisit,'null value')}}">
           <template is="dom-repeat" items="{{homevisit}}" as="subject">
             <!--<li>-->
               <div>
                <label id="label2" class="headQ">{{subject.text}} (แบบเยี่ยมบ้าน)</label>
               </div>
               <div class="layout vertical">
               <template is="dom-repeat" items="{{subject.values}}">
                 <paper-checkbox checked="{{item.checked}}" disabled class="checkbox-font">
                 {{item.text}}
                 </paper-checkbox>
               </template>
               </div>
             <!--</li>-->
           </template>
          </template>
          <template is="dom-if" if="{{_isEqual(homevisit,'null value')}}">
            <div>
              <label class="null_value">ยังไม่มีการเก็บข้อมูลเยี่ยมบ้าน</label>
             </div>
          </template>
          <!-- ********************** homevisit ************************************** -->

         <!--<li>-->
           <!--<label id="label2" class="headQ">ด้านสุขภาพ</label>-->
           <label class="headQ">3. ด้านสุขภาพ/ความบกพร่องของร่างกาย</label>
           <paper-input id ="res" label="ผลการประเมิน" readonly
             value="">
           </paper-input>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             3.1 น้ำหนัก/ส่วนสูง
           </div>
            <div class="layout horizontal">
              <div class="flex margin-content">
               <paper-checkbox checked="{{document.value.form_value.q3_1_m}}" disabled>
                  น้ำหนักผิดปกติ  และไม่สัมพันธ์กับส่วนสูง  หรืออายุ
               </paper-checkbox>
             </div>
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             3.2 โรคประจำตัว
           </div>
           <div class="layout horizontal">
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q3_2_m}}">
                  มีโรคประจำตัวหรือเจ็บป่วยบ่อยๆ
               </paper-checkbox>
             </div>
             <div class="flex-6 margin-content">
               <paper-checkbox checked="{{document.value.form_value.q3_1_p}}">
                  ป่วยเป็นโรคหรือมีความพิการทางร่างกายมีความบกพร่องทางการได้ยินการมองเห็น  และความเจ็บป่วย  หรือบกพร่องดังกล่าวมีผลกระทบต่อความสามารถด้านการเรียนในระดับมีปัญหา
               </paper-checkbox>
             </div>
             <!--<div class="flex-6 margin-content">&nbsp;</div>-->
           </div>
           <div class="flex layout horizontal font-face-underline"><!-- หัวตาราง -->
             3.3 ความบกพร่องของร่างกาย
           </div>
            <div class="flex layout horizontal margin-content">
              <paper-checkbox checked="{{document.value.form_value.q3_5_m}}" disabled>
                 มีความบกพร่องด้านการมองเห็น
              </paper-checkbox>
            </div>
            <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q3_6_m}}" disabled>
                มีความบกพร่องด้านการได้ยิน
             </paper-checkbox>
            </div>
            <div class="flex layout horizontal margin-content">
              <paper-checkbox checked="{{document.value.form_value.q3_7_m}}" disabled>
                 มีความบกพร่องทางด้านร่างกาย
              </paper-checkbox>
            </div>
           <label class="headQ">4. ด้านสุขภาพจิตและพฤติกรรม</label>
           <paper-input id ="res" label="ผลการประเมิน" readonly
             value="">
           </paper-input>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q4_2_m}}" disabled>
                พฤติกรรม (SDQ)
             </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q4_3_m}}" disabled>
               ความฉลาดทางอารมณ์ (EQ)
            </paper-checkbox>
           </div>
           <!-- ******************* homevisit-sdq-query ********** -->
           <template is="dom-repeat" items="{{homevisitSDQ}}" as="homevisitSDQ">
               <div>
                <label id="label2" class="headQ">{{homevisitSDQ.text}} (แบบเยี่ยมบ้าน)</label>
               </div>
               <div class="layout vertical">
               <template is="dom-repeat" items="{{homevisitSDQ.values}}">
                 <paper-checkbox checked="{{item.checked}}" disabled class="checkbox-font">
                 {{item.text}}
                 </paper-checkbox>
               </template>
               </div>
           </template>
           <!-- ******************* homevisit-sdq-query ********** -->
           <label class="headQ">5. ปัญหาทางการเรียนรู้</label>
           <paper-input id ="res" label="ผลการประเมิน" readonly
             value="">
           </paper-input>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_4_m}}" disabled>
                ออทิสติก
             </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_5_m}}" disabled>
               LD (การเรียนรู้)
            </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_6_m}}" disabled>
                สติปัญญา
             </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_7_m}}" disabled>
               พูด/ภาษา
            </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_8_m}}" disabled>
                พฤติกรรม/อารมณ์
             </paper-checkbox>
           </div>
           <div class="flex layout horizontal margin-content">
             <paper-checkbox checked="{{document.value.form_value.q5_9_m}}" disabled>
               สมาธิสั้น/SNAP-IV
            </paper-checkbox>
           </div>
     </div>

     <div slot="evaluation">
      <!--
      <div class="layout vertical">
       <div class="layout horizontal">
        <div class="check-icon">
          <iron-icon icon="check" hidden$="{{!_mark}}">
          </iron-icon>
        </div>
        <span class="flex" id="markPositive">
          พบความบกพร่อง
        </span>
       </div>
       <div class="layout horizontal">
        <div class="check-icon">
          <iron-icon icon="check" hidden$="{{_mark}}">
          </iron-icon>
        </div>
        <span class="flex" id="markNegative">
          ไม่พบความบกพร่อง
        </span>
       </div>
      </div>
      -->
      <div class="font-face-normal">ไม่มีหลักเกณฑ์</div>
     </div>
    </form-control>

  </template>

  <script>
    Polymer({
      is: 'screening-secondary-form',
      listeners : {
      },
      properties: {
        name: {
          type:String,
          reflectToAttribute:true,
          value:"แบบคัดกรองนักเรียนรายบุคคล ระดับมัธยม"
        }
      },
      behaviors:[
        Polymer.IronValidatableBehavior,
        StudentcareFormBehavior,
      ],
      observers:[
        '_result(document.value.form_result)',
        '_monitor(document.value.form_value.*)',
      ],
      _isEqual: function (value1, value2) {
        return value1 == value2;
      },
      _tap:function(e) {
        if(e.detail.type == "save") {
          this.$.control.save();
        }
      },
      _q2Text:function(q2) {
        if(q2=='p') {
          return 'มีปัญหา';
        } else {
          if(q2=='m') {
            return 'เสี่ยง';
          }
        }
      },
      _monitor:function(changeRecord) {
        if(!this.document.value) return;
        var tmp = this.document.value.form_value;
        var current_max = '';
        for(var q in tmp) {
          var qs = q.split('_');
          if(qs[0] =='q2' && tmp[q]) {
            if(qs[2] == 'p') {
              current_max = 'p';
            } else {
              if(current_max != 'p') {
                current_max = qs[2];
              }
            }
          }
        }
        this.set('document.value.form_value.q2',current_max);
      },
      _evaluate:function() {
        var values = this.document.value.form_value;
        var score = {};
        for(var q in values) {
          var p = q.split('_')[0];
          if(!score[p]) score[p] = {'y':0,'n':0};
          score[p][values[q]]++;
        }
        return score;
      },
      _validate:function() {
        return true;
      },
      _isEquals:function(a,b) {
        return a != null && a == b ;
      },
      _reset:function() {
        this.set('document.value.form_value',{});
      },
      _result:function(score) {

      }
    });
  </script>
</dom-module>
