<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="weight-height-query">
 <template>

   <app-localstorage-document
     key="jwtToken"
     data="{{token}}">
   </app-localstorage-document>

   <iron-ajax
     id="getWeightHeight"
     url="https://thaieduforall.org:8000/v2/obec/weightheight/query"
     method="POST"
     headers$='{"Authorization":"JWT {{token.token}}"}'
     content-type="application/json"
     on-response="_onResponse"
     body$='{"query":{"cid":"{{cid}}","year":{{year}},"semester":{{semester}}}}'>
   </iron-ajax>

 </template>
 <script>
   Polymer({
     is:'weight-height-query',
     properties:{
       cid:{
         type:String,
         notify:true,
         reflectToAttribute:true
       },
       semester:{
         type:String,
         notify:true,
         reflectToAttribute:true
       },
       year:{
         type:String,
         notify:true,
         reflectToAttribute:true
       },
       weight:{
         type:String,
         notify:true
       },
       height:{
         type:String,
         notify:true
       },
       /*weightheight: {
         type:Object,
         notify:true,
         value:function() {
           return {};
         }
       },*/
       isWeightHeight:{
        type:Boolean,
        notify:true,
        computed:'__computedIsWeightHeight(weight,height)'
      },
     },
     observers: [
       '__execute(token.token,cid,year,semester)',
     ],
     __execute: function (token,cid,year,semester) {
       //console.log('token',token);
       if(!token || !cid || !year || !semester) return;
       this.$.getWeightHeight.generateRequest();
     },
     _onResponse:function(e) {
       var response = e.detail.response;
       if(response.length == 1) {
        var doc = response[0];
        if(doc.weight4 == null && doc.height4 == null){
          if(doc.weight3 == null && doc.height3 == null){
            if(doc.weight2 == null && doc.height2 == null){
              this.set('weight',doc.weight1);
              this.set('height',doc.height1);
            }else{
              this.set('weight',doc.weight2);
              this.set('height',doc.height2);
            }
          }else{
            this.set('weight',doc.weight3);
            this.set('height',doc.height3);
          }
        }else{
          this.set('weight',doc.weight4);
          this.set('height',doc.height4);
        }
        //this.set('weightheight',doc);
        //console.log('weight/height',doc);
       }
     },
     __computedIsWeightHeight(weight,height) {
      //console.log(weight,height);
      if(weight == null || height == null) return;
      var _height = height/100;
      var bmi = weight/(_height*_height);
      //console.log('BMI',bmi);
      if(bmi >= 18.50 && bmi <= 22.90){
        //console.log(false);
        return false;
      }else{
        //console.log(true);
        return true;
      }
    },
   });
 </script>
</dom-module>
