<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/app-datepicker/app-datepicker.html">
<link rel="import" href="../../bower_components/app-datepicker/app-datepicker-dialog.html">

<dom-module id="careplan-health">
	<template>
		<style include="iron-flex iron-flex-alignment iron-flex-factors">
			:host {
				@apply (--layout-vertical);
			}

			.font-face {
				@apply --paper-font-subhead;
				font-family: 'Athiti', sans-serif;
			}

			.header div {
				@apply --paper-font-subhead;
				font-family: 'Athiti', sans-serif;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.header {
				font-family: 'Athiti', sans-serif;
				font-size: 25px;
				padding-left: 16px;
				padding-right: 16px;
				background: var(--paper-grey-400);
			}

			.font-face {
				@apply --paper-font-subhead;
				font-family: 'Athiti', sans-serif;
				font-size: 16px;
				margin: 5px;
			}

			paper-item.iron-selected {
				background-color: #efefef;
			}

			.line-style {
				border-bottom: 1px solid #ddd;
			}

			paper-item {
				cursor: pointer;
				cursor: hand;
			}

			paper-item.iron-selected {
				background-color: #efefef;
			}

			app-toolbar {
				/*background-color: var(--paper-red-500);*/
				background-color: #e65540;
				color: white;
			}
			paper-button.green {
           	 	 background-color: var(--paper-green-500);
        	     color: white;
     	   }
		</style>

		<!-- <app-localstorage-document key="jwtToken" data="{{jwtToken}}">
		</app-localstorage-document>

		<iron-ajax method="POST" id="query" url="https://maas.nuqlis.com:8000/v2/obec/form_record_homevisit/query" content-type="application/json"
		 handle-as="json" headers$='{"Authorization":"JWT {{jwtToken.token}}"}' body='{"query":{"hostid":"1035430078","cid":"1139700059691"}}'
		 on-response="handleResponse">
		</iron-ajax> -->

		<div>
			<div class="layout horizontal header">
				<div class="flex-4 font-face layout horizontal center-justified">ปัญหา</div>
				<div class="flex-8 font-face layout horizontal center-justified">บริการ</div>
			</div>
			<template is="dom-repeat" items="{{employees}}"> 
				<div class="layout horizontal flex">
					<div class="flex-4 font-face">{{item.problem}}</div>
					<div class="flex-6 font-face">
						<paper-checkbox class="font-face">{{item.service}}</paper-checkbox>
					</div>
					<div class="flex-4 font-face horizontal end-justified layout">
						<div class="datepicker-dialog">
							<paper-button  raised class="green font-face">วันที่ได้รับบริการ</paper-button>
							<app-datepicker-dialog id="datepicker" 
								with-backdrop theme="light-theme" view="vertical" date="{{dynamicDate}}" 
								show-long-date="true" locale="th">
							</app-datepicker-dialog>
						</div>
					</div>
				</div>
			</template>

		</div>


	</template>

	<script>
		Polymer({
			is: 'careplan-health',
			properties: {
				cid: {
					type: String,
					reflectToAttribute: true,
					notify: true
				},
				host: {
					type: String,
					reflectToAttribute: true,
					notify: true
				},
				document: {
					type: Object,
					notify: true
				}
			},
			observers: [
				'executeQuery(host,cid,jwtToken.token)'
			],
			_openDialog : function (e) {
			this.$.datepicker.open();
			},
			executeQuery: function (host, cid, token) {
				if (token == null) return;
				this.$.query.generateRequest();
			},
			ready: function() {
				var now = new Date();
				var nowFy = now.getFullYear();
				var nowM = now.getMonth() + 1;
				var nowD = now.getDate();
				this.dynamicDate = nowFy + '/' + ('0' + nowM).slice(-2) + '/' + ('0' + nowD).slice(-2);
        this.employees = [
            {problem: 'พิการ/ช่วยเหลือตนเองไม่ได้', service: 'การให้การสงเคราะห์กายอุปกรณ์และเครื่องช่วยความพิการ'},
            {problem: '', service: 'ขึ้นทะเบียนผู้พิการ'},
						{problem: '', service: 'การสงเคราะห์ครอบครัวคนพิการ'},
						{problem: '', service: 'เงินเบี้ยยังชีพคนพิการ'},
						{problem: '', service: 'บริการสิ่งอำนวยความสะดวก'},
						{problem: '', service: 'บริการเงินกู้'},
						{problem: '', service: 'บริการสวัสดิการสังคม'},
						{problem: '', service: 'บริการล่ามภาษามือ'},
						{problem: '', service: 'การลดหย่อนภาษีเงินได้'},
						{problem: '', service: 'บริการฟื้นฟูสมรรถภาพโดยกระบวนการทางการแพทย์'},
						{problem: '', service: 'บริการจ้างงานคนพิการ'},
						{problem: '', service: 'ค่าใช้จ่ายสำหรับจัดทำสิ่งอำนวยความสะดวกที่บ้าน หรือสถานที่พัก'},
						{problem: '', service: 'สถานที่เลี้ยงดูสำหรับคนพิการไร้ที่พึ่ง'},
						{problem: '', service: 'โรงเรียนเฉพาะทาง เพราะเด็กพิการ'},
						{problem: '', service: 'ความเข้าใจของเด็กคนอื่นในโรงเรียนเกี่ยวกับเด็กพิการ'},
						{problem: '', service: 'สิ่งอำนวยความสะดวกที่ทำให้เด็กพิการไปโรงเรียนได้'}
        ];
      }


		});
	</script>
</dom-module>