<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"> 
<link rel="import" href="../bower_components/iron-ajax/iron-request.html"> 
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="db-classteacher">
 <template>
  <style>
  </style>  
  <app-localstorage-document 
    key="jwtToken" 
    data="{{token}}">
  </app-localstorage-document>

  <iron-ajax 
    id="getTeacherId"
    url="https://thaieduforall.org:8000/v2/obec/classteacher/query"
    method="POST"
    on-response="_onTeacherIdResponse"
    content-type="application/json"
    body$='{"query":{"teacher_id":"{{tid}}"}}'>
  </iron-ajax>
 </template>
 <script>
  Polymer({
    is:"db-classteacher",
    properties:{
     token: {
       type:Object,
       value:{}
      },
      classteacher: {
       type:Object,
       notify:true,
       value:function() {
         return {};
       }
      }
    },
    _onTeacherIdResponse:function(e) {
      //console.log('test',e.detail.response);
      var response = e.detail.response;
      if(response.length == 1) {
        var doc = response[0];
        this.set('classteacher',doc);
      }
    },
    observers:[
     '__executeQuery(token.token,tid)'
    ],
    __executeQuery:function(token,tid) {       
      if(tid==null || token == null) return;
      this.$.getTeacherId.headers = {
        'Authorization':'JWT '+token
      };      
      this.$.getTeacherId.generateRequest();
    }
  });
 </script>
</dom-module>
