<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html"> 
<link rel="import" href="../bower_components/iron-ajax/iron-request.html"> 
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="db-classteacher">
 <template>
  <style>
  </style>
  <app-localstorage-document 
    key="jwtToken" 
    data="{{token}}">
  </app-localstorage-document>
 </template>
 <script>
  Polymer({
    is:"db-classteacher",
    properties:{
     token: {
       type:Object,
       value:{}
      }
    },
    observers:[
     '__executeQuery(token,tid)'
    ],
    __executeQuery:function(token,tid) {        
      //console.log(token.token); 
      console.log(tid.profile._teacher);
      var _teacher_id= tid.profile._teacher;
      var ele = document.createElement('iron-request'); 
      var self = this;
      ele.send({
        url:'https://maas.nuqlis.com:8000/v2/obec/classteacher/query',
        body:'{"query":{"teacher_id":"8ef813cbdd9f11e6bc01774977b2f887"}}',
        method:"POST",
        handleAs:"json",
        headers:{
          "Authorization":"JWT "+token.token,
          "Content-Type":"application/json"
        }
      }).then(function(res) {    
        console.log(res.response);      
      });
    }
  });
 </script>
</dom-module>
