<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/teacher-profile/test-profile.html">   

<dom-module id="homepage-app">
 <template>
  <style>
    #content {
      width: 98%;
      background-color: #eee;
      color:#000;
    }
  </style>

  <div id="content">
    <!--<h1>homepage-app</h1>
    <test-profile></test-profile>-->
  </div>
 </template>
 <script>
  Polymer({
    is:"homepage-app"
  });
 </script>
</dom-module>
