<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/studentcare-components/user-profile.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="homepage-app">
 <template>
  <style is="customer-style" include="iron-flex iron-flex-alignment iron-flex-factors">
    .content {
      margin-top: 30px;
      margin-right: 30px;
      /*width: 95%;*/
    }
  </style>
  <div class="layout vertical">
    <div class="layout horizontal content">
      <div class="flex-6">&nbsp;</div>
      <div class="flex-6 "><user-profile></user-profile></div>
    </div>
  </div>
 </template>
 <script>
  Polymer({
    is:"homepage-app"
  });
 </script>
</dom-module>
