<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="document-loader.html">

<dom-module id="host-info">
 <template>
  <style>
    :host {
      display:block;
    }
  </style>

  <app-localstorage-document
    key="jwtToken"
    data="{{token}}">
  </app-localstorage-document>

  <document-loader db="students_care"
    id="loader"
    view="host_info"
    on-finish="_finish">
  </document-loader>

 </template>
 <script>
  Polymer({
    is:"host-info",
    properties:{
      host:{
        type:String
      },
      year:{
        type:String
      },
      document:{
        type:Object,
        notify:true
      },
      _found:{
        type:Boolean
      },
      _execute:{
        type:Boolean,
        computed:"__computeExecute(host)"
      }
    },
    __computeExecute:function(host) {
      if(host != null) {
        console.log('execute');
        this.$.loader.query = {'match':["host_info",host]};
      }
    },
    _finish:function(e) {
      var data = e.detail.data;
      if(data.length == 0) {
        this.set('document',{
          value:{
            dmc:{
              host:this.host
            },
            doc_type:'host_info',
            classteachers:[],
            levels:[]
          }
        });
        this.set('_found',false);
      } else {
        this.set('document',data[0]);
        this.set('_found',true);
      }
    },
    save:function(e) {
      var self = this;
      var ele = document.createElement('iron-request');
      var key = '';
      if(this.document.key) {
        var key = this.document.key;
      }
      ele.send({
        url:'https://maas.nuqlis.com:9000/api/dbs/students_care/'+key,
        method:'POST',
        handleAs:'json',
        headers:{
          'content-type':'application/json',
          'authorization':'JWT '+this.token.token
        },
        body:JSON.stringify(this.document.value)
     }).then(function(res) {
        self.fire('host-info-saved',res.response);
     });
    }
  });
 </script>
</dom-module>
