<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-request.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="host-info.html">

<link rel="import" href="document-loader.html">
<link rel="import" href="room-level-gather.html">
<link rel="import" href="select-db-by-year-behavior.html">

<dom-module is="host-management">
 <template>
  <style is="custom-style" 
    include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      @apply(--layout-vertical);
      @apply(--paper-font-body1);
    }
    iron-icon.check {
      --iron-icon-fill-color:var(--paper-green-500);
    }
    .title {
      @apply(--paper-font-title);
    }
    .info-panel {
      padding:20px;
    }
  </style>
  <app-localstorage-document
    key="jwtToken"
    data="{{token}}">
  </app-localstorage-document>
  <host-info id="hostInfo" 
     host="{{host}}" year="{{year}}" 
     document="{{hostInfo}}">
  </host-info>
  <div class="layout horizontal">
    <paper-button raised on-tap="_reload">Load</paper-button>
  </div>
  <div class="layout horizontal">
   <div class="layout vertical info-panel"> 
    <div class="title">ข้อมูลครูประจำโรงเรียน</div>
    <ol>
    <template is="dom-repeat" items="{{hostInfo.value.teachers}}">
      <li>{{item.name}}</li>
    </template>
    </ol>
     <div class="layout horizontal">
      <div hidden$="{{!loading}}">ข้อมูลครูประจำโรงเรียน</div>
      <document-loader id="teacherLoader"
        class="flex"
        manual
        loading="{{loading}}"
        db="teacher_db" view="hostid"
        on-finish="_onTeacherLoaded"
        query$='{"match":["{{host}}"],"limit":-1}'>
      </document-loader>
     </div>
   </div>

   <div id="level" class="layout vertical info-panel">
    <div class="title">ข้อมูลห้องเรียน</div>
    <ol>
    <template is="dom-repeat" as="clevel" items="{{hostInfo.value.levels}}">
      <room-level-gather host="{{host}}" 
        auto
        rooms="{{clevel.rooms}}"
        level="{{clevel.level}}" 
        year="{{year}}">
      </room-level-gather>
      <template is="dom-repeat" items="{{clevel.rooms}}">
        <li>
         {{_labelLevel(clevel.level)}} / {{item.room}}
        </li>
      </template>
    </template>
    </ol>
   </div>
  </div>

 </template>
 <script>
   Polymer({
     is:'host-management',
     properties:{
       host:String,
       hostInfo:{
         type:Object,
         notify:true
       },
       _requiredLoadTeacher:{
         type:Boolean,
         computed:'__computedRequiredLoadTeacher(hostInfo)'
       },
       _requiredLoadLevel:{
         type:Boolean,
         computed:'__load(hostInfo)'
       }
     },
     behaviors:[
       SelectDbByYearBehavior
     ],
     _reload:function() {
       this.set('hostInfo.value.teachers',[]);
       this.set('hostInfo.value.levels',[]);
       this.notifyPath('hostInfo');
       this.__load(this.hostInfo);
       this.$.teacherLoader.manual_start();
     },
     __load:function(hostInfo) {
       if(hostInfo.value.levels.length>0) return;
       this.set('hostInfo.value.levels',[]);
       var self = this;
       for(var l = 1;l<16;l++) {
         var l_st = ''+l
         if(l<10) l_st='0'+l_st;
         this._checkLevel(l_st,function(exists,level) {
           if(exists) {
             self.push('hostInfo.value.levels',{'level':level,'rooms':[]});
           }
         });
       }
     },
     _checkLevel:function(level,cb) {
       var ele = document.createElement('iron-request');
       var query = {match:[this.host,level],limit:1};
       ele.send({
         url:'https://maas.nuqlis.com:9000/api/query/'+this.studentDb+'/host_level_room',
         method:'POST',
         headers:{
           'Authorization':'JWT '+this.token.token,
           'Content-Type':'application/json'
         },
         body:query,
         handleAs:'json'
       }).then(function(res) {
         if(res.response.constructor === Array) {
           if(res.response.length > 0) {
             cb(true,level);
           } else {
             cb(false,level);
           }
         }
       });
     },
      _labelLevel:function(level) {
       var dict = ['อนุบาล ','ประถมศึกษา ','มัธยมศึกษา '];
       var intLevel = Number(level);
       var tmp = '';
       if(intLevel<=15) tmp=dict[2]+(intLevel-9);
       if(intLevel<=9) tmp=dict[1]+(intLevel-3);
       if(intLevel<=3) tmp=dict[0]+intLevel;
       return tmp;
     },
     _onTeacherLoaded:function(e) {
       this.set('hostInfo.value.teachers',[]);
       var self = this;
       e.detail.data.forEach(function(teacher) {
         self.push('hostInfo.value.teachers',{
           '_teacher':teacher.key,
           'name':teacher.value.Firstname+' '+teacher.value.Lastname
         });
       });
     },
     save:function(e) {
       //console.log(this.hostInfo);
       this.$.hostInfo.save();
     },
     __computedRequiredLoadTeacher:function(hostInfo) {
       if(hostInfo.value.teachers) {
         if(hostInfo.value.teachers.length > 0) {
           return false;
         }
       }
       return true;
     }
   });
 </script>
</dom-module>
