<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">

<link rel="import" href="document-loader.html">

<script src="../bower_components/kjur-jsrsasign/jsrsasign-all-min.js"></script>

<dom-module is="login-box">
  <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      @apply(--layout-vertical);
      @apply(--paper-font-body1);
      padding:10px;
    }
    #loginBox{
      display:none;
    }
    @media (min-width: 400px) {
      #loginBox {
        height:auto;
        display:inherit;
      }
    }
  </style>

  <div id="loginBox">
     <div class="layout horizontal center" hidden$="{{!signed}}">
       <div>
        <span>{{role.profile.firstname}}</span>
        <span>{{role.profile.lastname}}</span>
       </div>
       <paper-icon-button icon="account-circle">
       </paper-icon-button>
       <div class="layout horizontal">
         <paper-button  class="signin-btn" raised on-tap="_signOut">Sign out</paper-button>
       </div>
     </div>
     <paper-button raised onclick="modal.open()" hidden$="{{signed}}">Sign in</paper-button>
  </div>

  <paper-dialog id="modal">
  <div class="layout vertical center sign-bar"> 
    <paper-input label="Login ID" value="{{user}}"></paper-input> 
    <paper-input label="Password" type="password" value="{{pass}}">
    </paper-input> 
    <span>{{_message}}</span>
    <div class="layout horizontal">
      <paper-button raised on-tap="_signIn">Sign in</paper-button>
    </div>
  </div>
  </paper-dialog>

  <document-loader id="roleloader" 
    db="role_db" 
    on-finish="_updateRole"
    view="user_app">
  </document-loader>
  
  <iron-ajax 
    id="loginAjax"
    url="/login"
    method="POST"
    on-response="_onResponse"
    content-type="application/json"
    body$='{"user":"{{user}}","pass":"{{pass}}"}'>
  </iron-ajax>
   
  <app-localstorage-document 
    id="storage"
    key="jwtToken" 
    data="{{token}}">
  </app-localstorage-document>

  <app-localstorage-document 
    key="role" 
    data="{{role}}">
  </app-localstorage-document>

 </template>
 
 <script>
  Polymer({
    is:'login-box',
    properties:{
     token: {
       type:Object,
       value:{}
     },
     role: {
       type:Object,
       notify:true,
       value:{}
     },
     signed:{
       type:Boolean,
       notify:true,
       reflectToAttribute:true,
       computed:'_computeSigned(token)'
     }
    },
    _signIn:function(e) {
      this.$.loginAjax.generateRequest();
    },
    _signOut:function(e) {
      this.set('token',{});
      this.set('role',{});
    },
    _computeSigned:function(token) {
      return token.token != null;
    },
    __getRole:function(token) {
      var a = token.split(".");
      var uClaim = b64utos(a[1]);
      var pClaim = KJUR.jws.JWS.readSafeJSONString(uClaim);
      var query = {'match':[pClaim.UserID,"student-care"]};
      this.$.roleloader.query=JSON.stringify(query);
    },
    _updateRole:function(e) {
      console.log(e.detail);
      if(e.detail.data.length >= 1) {
        console.log(e.detail.data[0]);
        this.set('role',e.detail.data[0].value);
      }
    },
    _onResponse:function(e) {
      var res = e.detail.response;
      if(res.success) {
        this.set('token',{'token':res.token});
        this.set('_message','');
        // get role
        this.__getRole(res.token);
        this.$.modal.close();
      } else {
        this.set('_message','Invalid User/Password');
      }
    }
  });

  </script>
</dom-module>
