<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-collapse-item/paper-collapse-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/studentcare-components/studentcare-app.html">
<link rel="import" href="../bower_components/studentcare-components/studentcare-report.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="login-box.html">
<link rel="import" href="role-assign.html">
<link rel="import" href="homepage-app.html">
<link rel="import" href="db-classteacher.html">
<link rel="import" href="student-care/student-room-list.html">
<link rel="import" href="student-care/student-plan.html">
<link rel="import" href="student-homevisit/student-room-query.html">
<link rel="import" href="student-homevisit/student-homevisit.html">

<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

<dom-module id="main-app">
  <template>
   <style is="customer-style" include="iron-flex iron-flex-alignment iron-flex-factors">
    body {
      margin: 0;
      font-family: 'Athiti', sans-serif;
      background-color: #eee;
    }
    .paper-collapse-styled {
      --paper-collapse-item-header: {
        font-family: 'Athiti', sans-serif;
        /*font-size: 100%;*/
        /*background-color: #2a363b;
        color: #fff;*/
      }
    }
    .blueHeader {
      background-color: #d7dcdf;
      color: #fff;
    }

    .blueHeader paper-icon-button {
      --paper-icon-button-ink-color: white;
    }

    .whiteHeader {
      font-family: 'Athiti', sans-serif;
      /*font-weight: bold;/*
      /*font-size: 115%;*/
      background-color: white;
    }

    .iconItem {
      color: #666;
    }

    .drawer-content {
      font-family: 'Athiti', sans-serif;
      /*font-size: 100%;*/
      background-color: #e65540;
      color: #fff;
    }

    .white-content {
      font-family: 'Athiti', sans-serif;
      background-color: white;
      color: #000;
    }

    .font-face-normal{
      margin-left: 40px;
      font-family: 'Athiti', sans-serif;
      /*font-size: 110%;*/
      color: #000;
    }
    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }

    iron-icon{
      height: 35px;
      width: 35px;
    }

    paper-item:hover{
      color: #e65540;
      cursor:hand;
      cursor:pointer;
    }

    paper-item{
      font-family: 'Athiti', sans-serif;
      /*font-size: 100%;*/
    }

    studentcare-app {
      width: 96%;
    }

    student-room-list {
      width: 96%;
    }

    student-room-query {
      width: 96%;
    }

    student-homevisit {
      width: 96%;
    }

    student-plan {
      width: 96%;
    }

    studentcare-report {
      width: 96%;
      background-color:white;
    }

    report-class {
      width: 96%;
    }

    report-host {
      width: 96%;
    }

    .align-center{
      @apply --layout-horizontal;
      @apply --layout-center-justified;
    }

    .font-face{
      @apply --layout-horizontal;
      @apply --layout-center;
      margin-left: 15px;
      font-family: 'Athiti', sans-serif;
      font-weight: bold;
      font-size: 70%;
    }
    </style>

      <app-drawer-layout>
        <app-drawer swipe-open slot="drawer">
          <app-header-layout has-scrolling-region class="drawer-content">
            <app-header class="whiteHeader" waterfall fixed slot="header">
              <app-toolbar class="drawer-content">
                <!--<div main-title>-->
                <div class="layout horizontal">
                  <div><iron-icon src="{{imgLogo}}" slot="item-icon" style="width:40px;height:57px;"></iron-icon></div>
                  <div class="font-face">ระบบการดูแลช่วยเหลือนักเรียน</div>
                </div>
                <!--</div>-->
              </app-toolbar>
            </app-header>
              <paper-listbox selected="{{page}}" attr-for-selected="name">
                <template is="dom-if" if="{{!signed}}">
                  <paper-icon-item class="drawer-content" name="login">
                    <iron-icon src="{{imgHome}}" slot="item-icon"></iron-icon>
                    หน้าแรก
                  </paper-icon-item>
                </template>
                <template is="dom-if" if="{{signed}}">
                  <paper-icon-item class="drawer-content" name="homepage">
                    <iron-icon src="{{imgHome}}" slot="item-icon"></iron-icon>
                    หน้าแรก
                  </paper-icon-item>
                  <paper-collapse-item src="{{imgAssignment}}"
                    name="assignment"
                    header="แบบประเมิน"
                    class="paper-collapse-styled">
                    <!--opened="{{_opened}}"-->
                    <paper-listbox selected="{{_assignment}}" on-iron-select="_changePageToAssignment">
                    <template is="dom-repeat" items="{{assignments}}">
                      <paper-item class="font-face-normal">{{item.label}}</paper-item>
                    </template>
                    </paper-listbox>
                  </paper-collapse-item>
                  <paper-icon-item class="white-content" name="report">
                    <iron-icon src="{{imgReport}}" slot="item-icon"></iron-icon>
                    รายงาน
                  </paper-icon-item>
                  <paper-collapse-item src="{{imgStudentCare}}"
                    name="studentcare"
                    header="แผนการดูแล"
                    class="paper-collapse-styled">
                    <paper-listbox selected="{{_studentCare}}" on-iron-select="_changePageToStudentCare">
                    <template is="dom-repeat" items="{{studentcares}}">
                      <paper-item class="font-face-normal">{{item.label}}</paper-item>
                    </template>
                    </paper-listbox>
                  </paper-collapse-item>
                  <paper-icon-item class="white-content" name="school">
                    <iron-icon src="{{imgSchool}}" slot="item-icon"></iron-icon>
                    ข้อมูลโรงเรียน
                  </paper-icon-item>
                  <paper-collapse-item src="{{imgHomevisit}}"
                    name="homevisit"
                    header="เยี่ยมบ้าน"
                    class="paper-collapse-styled">
                    <paper-listbox selected="{{_homevisit}}" on-iron-select="_changePageToHomevisit">
                    <template is="dom-repeat" items="{{homevisits}}">
                      <paper-item class="font-face-normal">{{item.label}}</paper-item>
                    </template>
                    </paper-listbox>
                  </paper-collapse-item>
                  <paper-icon-item name="homepage" class="drawer-content" on-tap="_signOut">
                    <iron-icon src="{{imgLogout}}" slot="item-icon"></iron-icon>
                    ออกจากระบบ
                  </paper-icon-item>
                </template>
              </paper-listbox>
          </app-header-layout>
        </app-drawer>

        <app-header-layout>
          <app-header class="blueHeader" condenses reveals effects="waterfall" slot="header">
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <!--<app-toolbar>
              <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            </app-toolbar>-->
          </app-header>
            <iron-pages selected="{{page}}" attr-for-selected="name">
              <div name="homepage">
                <template is="dom-if" if="{{!signed}}">
                  <login-box signed="{{signed}}" user="{{user}}" id="loginBox"></login-box>
                </template>
                <template is="dom-if" if="{{signed}}">
                <homepage-app></homepage-app>
                  <db-classteacher tid="{{role.profile._teacher}}"
                      classteacher="{{classteacher}}">
                  </db-classteacher>
                </template>
                <role-assign user="{{user}}" role="{{role}}"></role-assign>
              </div>
              <div name="login">
                <login-box signed="{{signed}}" user="{{user}}" id="loginBox"></login-box>
              </div>
              <div name="assignment" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'assignment')]]">
                  <studentcare-app
                    host="{{selectedAssignment.host}}"
                    level="{{selectedAssignment.level}}"
                    room="{{selectedAssignment.room}}"
                    year="{{selectedAssignment.year}}">
                  </studentcare-app>
                </template>
              </div>
              <div name="report" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'report')]]">
                  <studentcare-report host-id="{{role.profile.hostid}}" year="2017">
                  </studentcare-report>
                </template>
              </div>
              <div name="studentcare" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'studentcare')]]">
                  <student-room-list
                    year="{{selectedStudentCare.year}}"
                    host="{{selectedStudentCare.host}}"
                    level="{{selectedStudentCare.level}}"
                    room="{{selectedStudentCare.room}}">
                  </student-room-list>
                </template>
              </div>
              <div name="school" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'school')]]">
                  ข้อมูลโรงเรียน
                </template>
              </div>
              <div name="homevisit" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'homevisit')]]">
                  <student-room-query
                    year="{{selectedHomevisit.year}}"
                    host="{{selectedHomevisit.host}}"
                    level="{{selectedHomevisit.level}}"
                    room="{{selectedHomevisit.room}}">
                  </student-room-query>
                </template>
              </div>
              <div name="plan" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'plan')]]">
                  <student-plan cid="{{key}}"></student-plan>
                </template>
              </div>
              <div name="homevisitQuery" class="align-center">
                <template is="dom-if" if="[[_equal(page, 'homevisitQuery')]]">
                  <student-homevisit cid="{{key}}"></student-homevisit>
                </template>
              </div>
            </iron-pages>
        </app-header-layout>
      </app-drawer-layout>
 </template>

 <script>
  Polymer({
    is: 'main-app',
    properties : {
      page:{
        type:String,
        value: function() {
          return 'school';
        }
      },
      assignments :{
        type:Array,
        notify:true,
        value:function() {
          return [];
        }
      },
      studentcares :{
        type:Array,
        notify:true,
        value:function() {
          return [];
        }
      },
      homevisits :{
        type:Array,
        notify:true,
        value:function() {
          return [];
        }
      },
      selectedReport: {
        type:Object,
        notify:true,
        computed:'_getSelectedReport(_report)'
      },
      selectedAssignment: {
        type:Object,
        notify:true,
        computed:'_getSelectedAssignment(assignments,_assignment)'
      },
      selectedStudentCare: {
        type:Object,
        notify:true,
        computed:'_getSelectedStudentCare(studentcares,_studentCare)'
      },
      selectedHomevisit: {
        type:Object,
        notify:true,
        computed:'_getSelectedHomevisit(homevisits,_homevisit)'
      },
      _loadClass:{
        type:Boolean,
        computed:'_loadClassInfo(classteacher)'
      },
      imgHome:{
        type:String,
        notify:true,
        computed:'_imgHome()'
      },
      imgAssignment:{
        type:String,
        notify:true,
        computed:'_imgAssignment()'
      },
      imgReport:{
        type:String,
        notify:true,
        computed:'_imgReport()'
      },
      imgLogout:{
        type:String,
        notify:true,
        computed:'_imgLogout()'
      },
      imgLogo:{
        type:String,
        notify:true,
        computed:'_imgLogo()'
      },
      imgHomevisit:{
        type:String,
        notify:true,
        computed:'_imgHomevisit()'
      },
      imgSchool:{
        type:String,
        notify:true,
        computed:'_imgSchool()'
      },
      imgStudentCare:{
        type:String,
        notify:true,
        computed:'_imgStudentCare()'
      },
      /*_opened:{
        type:String,
        notify:true,
        value:'opened'
      }*/
    },
    observers:[
     '_signedChanged(signed)'
    ],
    listeners: {
      'studentcare-selected': '_selectStudent',
      'student-homevisit-selected': '_selectStudentHomevisit',
    },
    openDrawer: function() {
      this.$.drawer.toggle();
    },
    _toggle: function() {
      this.$.collapse.toggle();
    },
    _signOut:function() {
      this.$.loginBox.signOut();
    },
    _signedChanged:function(n) {
      if(this.signed) {
        this.set('page','homepage');
      } else {
        this.set('page','homepage');
      }
    },
    _selectStudent: function (e) {
      //console.log(e.detail._id);
      this.set('key', e.detail._id);
      this.set('page','plan');
    },
    _selectStudentHomevisit: function (e) {
      //console.log(e.detail._id);
      this.set('key', e.detail._id);
      this.set('page','homevisitQuery');
    },
    /*_setActiveAssignment:function(event) {
      this.set('page','assignment');
    },*/
    _imgHome:function(){
      return this.resolveUrl("./images/home.png");
    },
    _imgAssignment:function(){
      return this.resolveUrl("./images/assignment.png");
    },
    _imgReport:function(){
      return this.resolveUrl("./images/report.png");
    },
    _imgLogout:function(){
      return this.resolveUrl("./images/logout.png");
    },
    _imgLogo:function(){
      return this.resolveUrl("./images/logo.png");
    },
    _imgHomevisit:function(){
      return this.resolveUrl("./images/homevisit.png");
    },
    _imgSchool:function(){
      return this.resolveUrl("./images/school.png");
    },
    _imgStudentCare:function(){
      return this.resolveUrl("./images/student_care.png");
    },
    _getSelectedReport:function(report) {
      var arr = report.split('_');
      if(arr.length > 1) {
        return {'level':true,'host':arr[0],'level':arr[1]};
      } else {
        return {'level':false,'host':arr[0]};
      }
    },
    _getSelectedAssignment:function(assignments,_assignment) {
      if(!assignments || assignments.length == 0) return;
      console.log('assignments',assignments,_assignment);
      return assignments[_assignment];
    },
    _getSelectedStudentCare:function(studentcares,_studentCare) {
      if(!studentcares || studentcares.length == 0) return;
      console.log('student care',studentcares,_studentCare);
      return studentcares[_studentCare];
    },
    _getSelectedHomevisit:function(homevisits,_homevisit) {
      if(!homevisits || homevisits.length == 0) return;
      console.log('homevisit',homevisits);
      return homevisits[_homevisit];
    },
    _equal: function(value1, value2) {
      return value1 === value2;
    },
    _isAdmin: function(list) {
      return list && list.indexOf("schooladmin") > -1;
    },
    _loadClassInfo:function(classteacher) {
      //console.log(classteacher);
      if(!classteacher.classname) return;
      this.set('assignments',[]);
      this.set('studentcares',[]);
      this.set('homevisits',[]);
      var dict = {};
      this.push('assignments',{
        'label':classteacher.classname+'/'+classteacher.room,
        'level':classteacher.classname,
        'room':classteacher.room,
        'host':classteacher.host,
        'year':classteacher.year
      });
      this.push('studentcares',{
        'label':classteacher.classname+'/'+classteacher.room,
        'level':classteacher.classname,
        'room':classteacher.room,
        'host':classteacher.host,
        'year':classteacher.year
      });
      this.push('homevisits',{
        'label':classteacher.classname+'/'+classteacher.room,
        'level':classteacher.classname,
        'room':classteacher.room,
        'host':classteacher.host,
        'year':classteacher.year
      });
    },
    _teacherListRefresh:function(e) {
      this.$$('teacher-app').refresh();
    },
    _changePageToAssignment:function(e) {
      this.set('page','assignment');
    },
    _changePageToStudentCare:function(e) {
      this.set('page','studentcare');
    },
    _changePageToHomevisit:function(e) {
      this.set('page','homevisit');
    },
    _changePageToReport:function(e) {
      this.set('page','report');
    }
  });

  </script>
</dom-module>
