<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/studentcare-components/studentcare-app.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="homepage-app.html">
<link rel="import" href="progress-host.html">
<link rel="import" href="login-box.html">
<link rel="import" href="./teacher-app/teacher-app.html">
<link rel="import" href="./school-app/school-app.html">

<dom-module id="main-app">
  <template>
   <style is="custom-style">
      
      app-toolbar {
        background-color: #d14836;
        color: #fff;
      }
      
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      paper-icon-button + [main-title] {
        margin-left: 24px;
      }
      paper-progress {
        display: block;
        width: 100%;
        --paper-progress-active-color: rgba(255, 255, 255, 0.5);
        --paper-progress-container-color: transparent;
      }
      app-header {
        @apply(--layout-fixed-top);
        color: #fff;
        --app-header-background-rear-layer: {
          background-color: #ef6c00;
        };
      }

      app-drawer {
        --app-drawer-layout-content-transition;
        --app-drawer-content-container: {
          background-color: #fff;
        }
      }

      .sublist paper-item {
        padding-left: 30px;
      }
      
      paper-dialog {
        margin:0px;
      }
      .user-info {
        @apply(--paper-font-title);
      }
      @media (min-width: 400px) {
    
      }
    </style>

    <app-drawer-layout force-narrow>
      <app-drawer>        
        <!--
        <app-toolbar>
          <img src="https://qinfo.co/img/icon-Qinfo.JPG" alt="Smiley face" height="42" width="42">
        </app-toolbar>
        -->
        <app-toolbar></app-toolbar>
        <app-toolbar>
          <div class="user-info">
            <span>{{role.profile.firstname}}</span>
            <span>{{role.profile.lastname}}</span>
          </div>
        </app-toolbar>
        <paper-menu selected="{{page}}"
          attr-for-selected="name">
          <paper-item name="homepage">หน้าแรก</paper-item>
          <template is="dom-if" if="{{signed}}">
            <paper-submenu name="assignment">
              <paper-item class="menu-trigger">แบบประเมิน</paper-item>
              <paper-menu class="menu-content sublist" selected="{{_assignment}}">
                <template is="dom-repeat" items="{{assignments}}">
                 <paper-item>{{item.label}}</paper-item>
                </template>
              </paper-menu>
            </paper-submenu>
            <paper-item name="progress">ความก้าวหน้า</paper-item>
            <paper-item name="school">โรงเรียน</paper-item>
            <paper-item name="classteachers">ครูประจำชั้น</paper-item>
            <paper-item name="homepage" on-tap="_signOut">ออกจากระบบ</paper-item>
          </template>
        </paper-menu>
      </app-drawer>
      <app-header-layout fullbleed>
        <app-header fixed>
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>ระบบดูแลช่วยเหลือนักเรียน</div>   
          </app-toolbar>
        </app-header>

      <!-- content -->
      <div>
      <iron-pages selected="[[page]]" attr-for-selected="name">
        <div name="school">
          <!-- lazy load -->
          <template is="dom-if" if="[[_equal(page, 'school')]]">
            <school-app host="{{role.profile.hostid}}"> 
            </school-app>
          </template>
        </div>
        <div name="homepage">          
          <login-box signed="{{signed}}" id="loginBox" role="{{role}}"></login-box>
          <homepage-app></homepage-app>
        </div>
        <div name="assignment">
          <template is="dom-if" if="[[_equal(page, 'assignment')]]">
          <host-info host="{{role.profile.hostid}}" document="{{hostInfo}}">
          </host-info>
          <iron-pages selected="{{_assignment}}">
            <template is="dom-repeat" items="{{assignments}}">
            <studentcare-app host="{{role.profile.hostid}}" 
              level="{{item.level}}" 
              room="{{item.room}}">
            </studentcare-app>
            </template>
          </iron-pages>
          </template>
        </div>
        <div name="progress">
          <!-- lazy load -->
          <template is="dom-if" if="[[_equal(page, 'progress')]]">
           <progress-host host="{{role.profile.hostid}}">
           </progress-host>
         </template>
        </div>
        <div name="classteachers">
          <!-- lazy load -->
          <template is="dom-if" if="[[_equal(page, 'classteachers')]]">
           <teacher-app host="{{role.profile.hostid}}"></teacher-app> 
         </template>
        </div>
      </iron-pages>
      </div>
      </app-header-layout>
    </app-drawer-layout>
    
 </template>
 
 <script>
  Polymer({
    is: 'main-app',
    properties : {
      page:{
        type:String,
        value: function() {
          return 'school';
        }
      },
      assignments :{
        type:Array,
        notify:true,
        value:function() {
          return [];
        }
      },
      _loadClass:{
        type:Boolean,
        computed:'_loadClassInfo(role,hostInfo)'
      }
    },
    observers:[
     '_signedChanged(signed)'
    ],
    _signOut:function() {
      this.$.loginBox.signOut();
    },
    _signedChanged:function(n) {
      if(this.signed) {
      //  this.set('page','assignment');
        this.set('page','school');
      } else {
        this.set('page','homepage');
      }
    },
    _equal: function(value1, value2) {
      return value1 === value2;
    },
    _loadClassInfo:function(role,hostInfo) {
      if(!role.profile) return;
      var key = role.profile._teacher;
      this.set('assignments',[]);
      if(hostInfo.value.classteachers) {
        for(var i=0;i<hostInfo.value.classteachers.length;i++) {
          var ct = hostInfo.value.classteachers[i];
          if(ct.classteachers.indexOf(key) != -1) {
            _level = ct.level;
            _room = ct.room;
            this.push('assignments',{
              'label':_level+'/'+_room,
              'level':_level,
              'room':_room
            });
          }
        }
      }
    }
  });

  </script>
</dom-module>
