<link href="../bower_components/polymer/polymer.html">
<link href="../bower_components/paper-progress/paper-progress.html">
<link href="../bower_components/iron-ajax/iron-ajax.html">
<link href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link href="../bower_components/paper-styles/typography.html">

<dom-module id="progress-host">
 <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
      padding:5px;
    }
    .status {
      cursor:hand;
      cursor:pointer;
    }
    .status:hover {
      background:#efefef;
    }
    .host-id {
      padding:5px;
    }
    .form-item {
    }
    .detail-report {
      padding:5px;
      border:1px solid #efefef;
    }
  </style>
  <iron-ajax auto
    url="/view"
    method="POST"
    content-type="application/json"
    body$='{"match":["by_host","{{host}}"]}'
    on-response="_onResponse">
  </iron-ajax>

  <div class="layout horizontal center status" on-tap="_toggleShowDetail">
    <div class="host-id">
      <span>{{host}}</span>
      <span>{{_ratio}}</span>
    </div>
    <paper-progress max="{{total}}" value="{{done}}" class="flex">
    </paper-progress>
  </div>
  <div class="detail-report" hidden$="{{!showDetail}}">
  <template is="dom-repeat" items="{{forms}}">
    <div class="layout horizontal center">
      <span class="flex form-item">{{item.name}}</span>
      <span>{{item.remain}}</span>
    </div>
  </template>
  </div>

 </template>
 <script>
  Polymer({
   is: 'progress-host',
   properties:{
     host:{
       type:String
     },
     forms:{
      type:Array,
      value:[]
     },
     showDetail:{
      type:Boolean,
      value:false
     }
   },
   _onResponse:function(e) {
     if(e.detail.response) {
       var total = 0;
       var done = 0;
       var dict = {};
       e.detail.response.forEach(function(item) {
         for(var key in item.value) {
           if(!dict[item.key[2]]) {
             dict[item.key[2]] = {
               'name':item.key[2], 
               'remain':0
             };
           }
           if(key == "done") {
             done+= item.value[key];
           } else {
             dict[item.key[2]].remain+=item.value[key];
           }
           total+=item.value[key];
         }
       });
       this.set('forms',[]);
       for(var key in dict) {
         if(dict[key].remain > 0) {
           this.push('forms',dict[key]);
         }
       }
       this.set('_ratio','('+done+'/'+total+')');
       this.set('total',total);
       this.set('done',done);
     }
   },
   _toggleShowDetail:function(e) {
     this.set('showDetail',!this.showDetail);
   }
  });
 </script>

</dom-module>
