<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="document-loader.html">

<dom-module id="teacher-list">
 <template>
  <style>
    :host {
      display:block;
    }
  </style>

  <document-loader 
    db="teacher_db" 
    view="hostid"
    on-finish="_onFinish"
    query$='{"match":["{{host}}"],"limit":-1}'>
  </document-loader>

 </template>
 <script>
  Polymer({
    is:"teacher-list",
    properties:{
      host:{
        type:String
      },
      list:{ 
        type:Array,
        notify:true,
        value:[]
      }
    },
    _onFinish:function(e) {
      console.log(e.detail);
      var self = this;
      e.detail.data.forEach(function(doc) {
        self.push('list',{
         '_teacher':doc.key,
         'name':doc.value.Firstname+' '+doc.value.Lastname
        });
      }); 
    }
  });
 </script>
</dom-module>
