<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="teacher-list.html">
<link rel="import" href="document-loader.html">
<link rel="import" href="host-info.html">

<dom-module id="teacher-app">
 <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
      padding:5px;
    }
    paper-tabs {
      background:var(--paper-blue-500);
      color:#ffffff;
    }
    paper-progress {
      padding:5px;
    }
  </style>

  <host-info host="{{host}}" id="hostInfo" document="{{hostInfo}}">
  </host-info>

  <template is="dom-if" if="{{!_teacherLoaded(hostInfo)}}">
    <teacher-list host="{{host}}" 
      list="{{hostInfo.value.teachers}}">
    </teacher-list>
  </template>

  <template is="dom-if" if="{{!_levelLoaded(hostInfo)}}">
    <document-loader db="dmc59_1" view="hostid"
      on-data="_onStudent"
      query$='{"match":["{{host}}"],"limit":-1}'>
    </document-loader>
  </template>

  <template is="dom-repeat" items="{{hostInfo.value.teachers}}">
    <div>{{item.name}}</div>
  </template>

  <paper-tabs selected="{{selectedLevel}}" 
    attr-for-selected="name" scrollable>
    <template is="dom-repeat" items="{{hostInfo.value.levels}}">
      <paper-tab name="{{item.level}}">{{item.level}}</paper-tab>
    </template>
  </paper-tabs>


  <iron-pages selected="{{selectedLevel}}"
    attr-for-selected="name">
    <template is="dom-repeat" items="{{hostInfo.value.levels}}" as="level">
      <div name="{{level.level}}" class="layout vertical">
        <div class="layout horizontal center">
          <div class="flex-1">Room</div>
          <div class="flex-1">Students</div>
          <div class="flex-2">Class Teacher</div>
        </div>
        <template is="dom-repeat" items="{{level.rooms}}">
          <div class="layout horizontal center">
            <div class="flex-1">{{item.room}}</div>
            <div class="flex-1">{{item.student}}</div> 
            <div class="flex-2">Class Teacher</div>
          </div>
        </template>
      </div>
    </template>
  </iron-pages>
    
  <div class="layout horizontal">
   <paper-button on-tap="_save" raised>Save</paper-button>
  </div>

 </template>
 <script>
  Polymer({
   is: 'teacher-app',
   properties:{
     host:{
       type:String
     },
     _level:{
       type:Object,
       value:{}
     }
   },
   _save:function(e) {
     this.$.hostInfo.save();
   },
   _teacherLoaded:function(hostInfo) {
     return hostInfo.value.teachers && hostInfo.value.teachers.length > 0;
   },
   _levelLoaded:function(hostInfo) {
     return hostInfo.value.levels && hostInfo.value.levels.length > 0;
   },
   __computeLevels:function(hostInfo) {
     var result = [];
     var dict = ['อ.','ป.','ม.'];
     var level = hostInfo.value.level;
     for(var key in level) {  
       var tmp = {'level':key,'room':[]}; 
       var intLevel = Number(key);
       if(intLevel<=15) tmp['label']=dict[2]+(intLevel-9);
       if(intLevel<=9) tmp['label']=dict[1]+(intLevel-3);
       if(intLevel<=3) tmp['label']=dict[0]+intLevel;
       for(var room in level[key]) {
         tmp['room'].push({'room':room,'student':level[key][room]});
       }
       result.push(tmp);
     }
     result.sort(function(a,b) {
       return Number(a.level)>=Number(b.level)?1:-1; 
     });
     return result;
   },
   _onStudent:function(e) {
     var student = e.detail.value;
     var level = this.hostInfo.value.levels;
     if(!this._level[student.LEVEL]) {
       this._level[student.LEVEL] = {};
     }
     if(!this._level[student.LEVEL][student.CLASSROOM]) {
       this._level[student.LEVEL][student.CLASSROOM] = {'student':0};
     }
     this._level[student.LEVEL][student.CLASSROOM].student++;

     var tmp = [];
     this.hostInfo.value.levels = [];
     for(var key in this._level) {
       var _level = {'level':key,'rooms':[]};
       for(var room in this._level[key]) {
         _level.rooms.push({'room':room,
           'student':this._level[key][room].student});
       }
       tmp.push(_level);
     }
     this.set('hostInfo.value.levels',tmp);
   }
  });
 </script>

</dom-module>
