<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-validatable-behavior/iron-validatable-behavior.html">
<link rel="import" href="../../../bower_components/paper-styles/typography.html">
<link rel="import" href="sdq-radio.html">

<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

<dom-module id="sdq-form-choice">
  <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host{
      background-color: white;
    }
    /*.paper-font-headline {
      @apply --paper-font-body2;
    }*/
    .idx {
      width:10px;
    }
    .invalid {
      border:1px solid red;
    }
    sdq-radio {
      margin-top:2px;
      margin-bottom:2px;
    }
    .font-face {
      margin-left: 5px;
      font-family: 'Athiti', sans-serif;
      font-size: 100%;
    }

  </style>
  <div class="layout vertical">
    <sdq-radio required class="font-face" value="{{value.f_q1}}">
      <div class="font-face">1. ห่วงใยความรู้สึกคนอื่น</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q2}}">
      <div class="font-face">2. อยู่ไม่นิ่ง นั่งนิ่ง ๆ ไม่ได้</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q3}}">
     <div class="font-face">3. มักจะบ่นว่าปวดศีรษะปวดท้อง</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q4}}">
      <div class="font-face">4. เต็มใจแบ่งปันสิ่งของให้เพื่อน (ขนม, ของเล่น, ดินสอเป็นต้น)</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q5}}">
      <div class="font-face">5. มักจะอาละวาดหรือโมโหร้าย</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q6}}">
      <div class="font-face">6. ค่อนข้างแยกตัวชอบเล่นคนเดียว</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q7}}">
      <div class="font-face">7. เชื่อฟัง มัก จะทำตามที่ผู้ใหญ่ต้องการ</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q8}}">
      <div class="font-face">8. กังวลใจหลายเรื่อง ดูกังวลเสมอ</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q9}}">
      <div class="font-face">9. เป็นที่พึ่งได้เวลาที่คนอื่นเสียใจ อารมณ์ไม่ดี หรือไม่สบายใจ</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q10}}">
      <div class="font-face">10. อยู่ไม่สุข วุ่นวายอย่างมาก</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q11}}">
      <div class="font-face">11. มีเพื่อนสนิท</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q12}}">
      <div class="font-face">12. มักจะมีเรื่องทะเลาะวิวาทกับเด็กอื่น หรือรังแกเด็กอื่น</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q13}}">
      <div class="font-face">13. ดูไม่มีความสุข ท้อแท้</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q14}}">
      <div class="font-face">14. เป็นที่ชื่นชอบของเพื่อน</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q15}}">
      <div class="font-face">15. วอกแวกง่าย สมาธิสั้น</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q16}}">
      <div class="font-face">16. เครียดเวลาอยู่ในสถานการณ์ที่ไม่คุ้น และขาดความมั่นใจในตนเอง</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q17}}">
      <div class="font-face">17. ใจดีกับเด็กที่เล็กกว่า</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q18}}">
      <div class="font-face">18. ชอบโกหก หรือขี้โกง</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q19}}">
      <div class="font-face">19. ถูกเด็กคนอื่นล้อเลียนหรือรังแก</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q20}}">
      <div class="font-face">20. ชอบอาสาช่วยเหลือผู้อื่น (พ่อ, แม่, ครู, เด็กคนอื่น)</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q21}}">
      <div class="font-face">21. คิดก่อนทำ</div>
    </sdq-radio>
    <sdq-radio required   class="font-face" value="{{value.f_q22}}">
      <div class="font-face">22. ขโมยของที่บ้าน ที่โรงเรียนหรือที่อื่น</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q23}}">
      <div class="font-face">23. เข้ากับผู้ใหญ่ได้ดีกว่าเด็กวัยเดียวกัน</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q24}}">
      <div class="font-face">24. ขี้กลัว รู้สึกหวาดกลัวได้ง่าย</div>
    </sdq-radio>
    <sdq-radio required  class="font-face" value="{{value.f_q25}}">
      <div class="font-face">25. ทำงานได้จนเสร็จ มีความตั้งอกตั้งใจในการทำงาน</div>
    </sdq-radio>
  </div>

  </template>

  <script>
    Polymer({
      is: 'sdq-form-choice',
      properties: {
        value:{
          type:Object
        }
      },
      ready:function() {
        if(!this.value) {
          this.value={};
        }
      },
      validate:function() {
        var els = Polymer.dom(this.root).querySelectorAll('sdq-radio');
        for(var i=0;i<els.length;i++) {
          if(!els[i].validate()) {
            els[i].classList.add('invalid');
            return false;
          } else {
            els[i].classList.remove('invalid');
          }
        }
        return true;
      }
    });
  </script>
</dom-module>
