<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="check-only-level-behavior.html">

<dom-module is="dl2-generator">
 <script>
  Polymer({
    is:"dl2-generator",
    behaviors:[
     CheckOnlyLevelBehavior
    ],
    properties:{
      formType:{
        type:String,
        value:'dl2-form'
      },
      atLevel:{
        type:Array,
        value:function() {
          return [
          "ประถมศึกษาปีที่ 1",
          "ประถมศึกษาปีที่ 2",
          "ประถมศึกษาปีที่ 3",
          "ประถมศึกษาปีที่ 4",
          "ประถมศึกษาปีที่ 5",
          "ประถมศึกษาปีที่ 6"
          ];
        }
      }
    }
  });
 </script>
</dom-module>
