<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="check-only-level-behavior.html">

<dom-module is="st5-generator">
 <script>
  Polymer({
    is:"st5-generator",
    behaviors:[
     CheckOnlyLevelBehavior
    ],
    properties:{
      formType:{
        type:String,
        value:'st5-form'
      },
      atLevel:{
        type:Array,
        value:function() {
          return [
            "มัธยมศึกษาปีที่ 1",
            "มัธยมศึกษาปีที่ 2",
            "มัธยมศึกษาปีที่ 3",
            "มัธยมศึกษาปีที่ 4"
          ];
        }
      }
    }
  });
 </script>
</dom-module>
