<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>studentcare-component demo</title>

    <script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../../bower_components/webcomponentsjs/webcomponents-loader.js"></script>
    <link rel="import" href="../../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../../bower_components/iron-demo-helpers/demo-snippet.html">
    <!-- <link rel="import" href="../test-report.html"> -->
    <!-- <link rel="import" href="../report-class.html"> -->
    <!-- <link rel="import" href="../report-host.html"> -->
    <link rel="import" href="../report-class.html">
    <link rel="import" href="../report-room2.html">
    <!-- <link rel="import" href="../report-student.html"> -->
    <!-- <link rel="import" href="../test-report.html"> -->
    <!-- <link rel="import" href="../report-progresshost.html"> -->
    <!-- <link rel="import" href="../report-sumaryhost.html"> -->
    <!-- <link rel="import" href="../report-sumaryclassform.html"> -->
    <!-- <link rel="import" href="../report/summary/dl2-host.html"> -->
    <link rel="import" href="../report/summary/eq-host.html">
    <!-- main document  include the module you need in a custom-style element -->
  <style is="custom-style" include="iron-flex"></style>
  

    <style is="custom-style" include="demo-pages-shared-styles">
      
    </style>
  </head>
  <body>
      <!-- <report-room2 hostid="1071020101" level="ประถมศึกษาปีที่ 1" room="1" year="2017"></report-room2> -->
    <!-- <script src="../../webcomponentsjs/webcomponents-lite.min.js"></script> -->
    <!-- <report-student cid="1709800564651" year="2017"></report-student> -->
    <!-- <report-class hostid="1071020101" level="ประถมศึกษาปีที่ 1" ></report-class> -->
    <!-- <report-host hostid="1071020101"></report-host> -->
    <!-- <test-report hostid="1071020101" level="ประถมศึกษาปีที่ 1" room="1"></test-report> -->
    <!-- <report-progresshost year="2017" hostid="1071020101" form="snap-form"></report-progresshost> -->
    <!-- <report-sumaryhost year = "2017" hostid="" ></report-sumaryhostt> -->
      <!-- <report-sumaryclassform year="2017" hostid="1071020101" form="dl2-form"></report-sumaryclassform> -->
      <dl2-host hostid="1071020101"  year="2017" form="dl2-form"></dl2-host>
      <eq-host></eq-host>
  </body>
</html>
