<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="check-only-level-behavior.html">

<dom-module is="snap-generator">
 <script>
  Polymer({
    is:"snap-generator",
    behaviors:[
     CheckOnlyLevelBehavior
    ],
    properties:{
      formType:{
        type:String,
        value:'snap-form'
      },
      atLevel:{
        type:Array,
        value:function() {
          return [
            "ประถมศึกษาปีที่ 1",
            "ประถมศึกษาปีที่ 2",
            "ประถมศึกษาปีที่ 3",
            "ประถมศึกษาปีที่ 4",
            "ประถมศึกษาปีที่ 5",
            "ประถมศึกษาปีที่ 6",
            "มัธยมศึกษาปีที่ 1",
            "มัธยมศึกษาปีที่ 2",
            "มัธยมศึกษาปีที่ 3"
          ];
        }
      }
    }
  });
 </script>
</dom-module>
