<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="with-result-sdq-behavior.html">

<dom-module is="st5-elementary-generator">
 <script>
  Polymer({
    is:"st5-elementary-generator",
    behaviors:[
     WithResultSdqBehavior
    ],
    properties:{
      formType:{
        type:String,
        value:'st5-form'
      },
      atLevel:{
        type:Array,
        value:function() {
          return [
            "ประถมศึกษาปีที่ 4"
          ];
        }
      }
    }
  });
 </script>
</dom-module>
