<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../host-info.html">
<link rel="import" href="classteacher-select.html">
<link rel="import" href="student-list.html">
<link rel="import" href="form-generator.html">

<dom-module id="school-structure">
 <template>
  <style is="custom-style"
     include="iron-flex iron-flex-alignment iron-flex-factors">

    :host {
      display:box;
      @apply(--paper-font-body1);
      @apply(--layout-horizontal);
      @apply(--layout-flex);
      --paper-tab-ink:var(--paper-red-500);
    }
    .content {
      padding:10px;
    }
    app-toolbar {
      background-color:var(--paper-red-500);
      color:white;
    }
    paper-tabs {
      background-color:var(--paper-grey-300);
      --paper-tabs-selection-bar-color:var(--paper-red-500);
    }
    .inherit {
      color: inherit;
      background-color: inherit;
    }
    .class-teacher {
      max-width:400px;
      background-color:white;
    }
    .teacher-name {
      padding:2px;
    }
    paper-material {
      padding:5px;
    }
    paper-material .title {
      @apply(--paper-font-title);
    }
  </style>

  <app-header-layout fullbleed has-scrolling-region>
   <app-header fixed>
    <app-toolbar>
     <a href="#/" class="inherit">
     <paper-icon-button icon="arrow-back"></paper-icon-button>
     </a>
     <div main-title>โครงสร้าง</div>
     <paper-icon-button icon="save" on-tap="_save"></paper-icon-button>
    </app-toolbar>
    <paper-tabs scrollable selected="{{room}}" 
      on-iron-select="_onSelect"
      attr-for-selected="name">
     <template is="dom-repeat" as="level" sort="_sortLevel" 
        items="{{hostInfo.value.levels}}">
      <template is="dom-repeat" sort="_sortRoom" 
         items="{{level.rooms}}">
       <paper-tab name$="{{level.level}}-{{item.room}}">
        <span>{{_labelLevel(level.level)}}</span>/
        <span>{{item.room}}</span>
       </paper-tab>
      </template>
     </template>
    </paper-tabs>
   </app-header>
   <div>
    <div class="layout horizontal" hidden$="{{!showContent}}"> 
     <div class="layout vertical class-teacher">
      <host-info host="{{host}}" id="hostInfo" document="{{hostInfo}}">
      </host-info>
      <classteacher-select 
        title="รายชื่อครูประจำชั้น"
        selected="{{_classTeacher}}"
        list="{{hostInfo.value.teachers}}">
        <template is="dom-repeat" items="{{_classTeacher}}">
         <div class="teacher-name">{{_teacherName(item,hostInfo)}}</div>
        </template>
      </classteacher-select>

      <classteacher-select 
        title="รายชื่อครูผู้สอน"
        selected="{{_teachTeacher}}"
        list="{{hostInfo.value.teachers}}">
        <template is="dom-repeat" items="{{_teachTeacher}}">
         <div class="teacher-name">{{_teacherName(item,hostInfo)}}</div>
        </template>
      </classteacher-select>
      <student-list host="{{host}}" 
         students="{{students}}"
         year="{{hostInfo.value.dmc.year}}"
         level-room="{{room}}">
      </student-list>
     </div>

     <div class="flex">
       <form-generator 
         students="{{students}}"
         level-room="{{room}}"
         host-info="{{hostInfo}}">
       </form-generator>
     </div>

    </div>
   </div>

  </app-header-layout>

 </template>
 <script>
  Polymer({
   is:'school-structure',
   properties:{
     host:{
       type:String
     },
     showContent:{
       type:Boolean,
       notify:true,
       value:false
     },
     _classTeacher:{
       type:Array,
       notify:true,
       computed:'__computeClassTeacher(room,hostInfo)' 
     },
     _teachTeacher:{
       type:Array,
       notify:true,
       computed:'__computeTeachTeacher(room,hostInfo)' 
     }
   },
   _teacherName:function(id,hostInfo) {
     var teachers = hostInfo.value.teachers;
     var name = '';
     for(var i=0;i<teachers.length;i++) {
       if(teachers[i]._teacher == id) {
         name=teachers[i].name;
         break;
       }
     };
     return name;
   },
   _sortLevel:function(a,b) {
     return Number(a.level) >= Number(b.level)?1:-1;
   },
   _sortRoom:function(a,b) {
     return Number(a.room) >= Number(b.room)?1:-1;
   },
   __computeClassTeacher:function(room,hostInfo) {
     var _room = room.split('-');
     var teachers = hostInfo.value.classteachers;
     if(!teachers) this.set('hostInfo.value.classteachers',[]);
     for(var i=0;i<teachers.length;i++) {
       if(teachers[i].level == _room[0] && 
          teachers[i].room == _room[1]) { 
         if(!teachers[i].teachers) teachers[i].teachers = [];
         return teachers[i].teachers;
       }
     }
     var tmp = {'level':_room[0],'room':_room[1],'teachers':[]};
     this.push('hostInfo.value.classteachers',tmp);
     return tmp.teachers;
   },
   __computeTeachTeacher:function(room,hostInfo) {
     var _room = room.split('-');
     var teachers = hostInfo.value.teachteachers;
     if(!teachers) this.set('hostInfo.value.teachteachers',[]);
     for(var i=0;i<teachers.length;i++) {
       if(teachers[i].level == _room[0] && 
          teachers[i].room == _room[1]) { 
         if(!teachers[i].teachers) teachers[i].teachers = [];
         return teachers[i].teachers;
       }
     }
     var tmp = {'level':_room[0],'room':_room[1],'teachers':[]};
     this.push('hostInfo.value.teachteachers',tmp);
     return tmp.teachers;
   },
   _labelLevel:function(level) {
     var dict = ['อนุบาล ','ประถมศึกษา ','มัธยมศึกษา '];
     var intLevel = Number(level);
     var tmp = '';
     if(intLevel<=15) tmp=dict[2]+(intLevel-9);
     if(intLevel<=9) tmp=dict[1]+(intLevel-3);
     if(intLevel<=3) tmp=dict[0]+intLevel;
     return tmp;
   },
   _save:function(e) {
     this.$.hostInfo.save();
   },
   _onSelect:function(e) {
     this.set('showContent',true);
   }
  });
 </script>

</dom-module>
