<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../document-loader.html">
<link rel="import" href="../leveldb-document.html">

<dom-module id="student-list">
 <template>
  <style is="custom-style"
     include="iron-flex iron-flex-alignment iron-flex-factors">

    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
      padding:5px;
    }
    .control-panel {
      @apply(--layout-horizontal);
      @apply(--layout-center);
      background:var(--paper-grey-300);
    }
    .title {
      padding-left:10px;
    }
    .student {
      @apply(--paper-font-body2);
      padding:5px;
    }
  </style>

  <paper-material elevation="1">

   <document-loader
    db="students_care" 
    id="classLoader"
    view="class_info"
    on-finish="_onClassInfoLoaded"
    data="{{classInfo}}">
   </document-loader>

   <leveldb-document
    id="classRoom"
    url="https://maas.nuqlis.com:9000/api"
    db="students_care"
    document="{{classRoom}}">
   </leveldb-document>

   <document-loader 
    manual
    db="{{db}}" 
    id="loader"
    total="{{total}}"
    view="host_level_room"
    on-finish="_onStudentLoaded"
    data="{{students}}">
   </document-loader>
  
   <div class="control-panel">
    <div hidden$="{{!loaded}}" class="layout horizontal center">
     <paper-icon-button icon="menu" on-tap="_toggleContent">
     </paper-icon-button>
    </div>
    <div hidden$="{{loaded}}" class="layout horizontal center">
     <paper-icon-button icon="file-download" on-tap="_loadStudent">
     </paper-icon-button>
     <div>{{total}}</div>
    </div>
    <div class="title">รายชื่อนักเรียน</div>
   </div>
  
   <div hidden$="{{!showContent}}">
    <template is="dom-repeat" items="{{students}}">
     <div class="student">{{_labelStudent(item)}}</div>
    </template>
   </div>

  </paper-material>

 </template>
 <script>
  Polymer({
   is: 'student-list',
   properties:{
     host:{
       type:String
     },
     levelRoom:{
       type:String
     },
     year:{ 
       type:String
     },
     classRoom:{
       type:Object,
       notify:true
     },
     showContent: {
       type:Boolean,
       notify:true,
       value:true
     },
     students: {
       type:Array,
       notify:true,
       computed:'__computeStudents(classRoom)'
     },
     db:{
       type:String,
       computed:'__computeDb(year)'
     }
   },
   observers:[
     '_loadClass(host,year,levelRoom)'
   ],
   __computeStudents:function(classRoom) {
     return classRoom.value.students;
   },
   _loadClass:function(host,year,levelRoom) {
     var self = this;
     var tmp = levelRoom.split('-');
     this.$.classLoader.query = {'match':[host,year,tmp[0],tmp[1]],'limit':1};
   },
   _onClassInfoLoaded:function(e) {
     var response = e.detail.data;
     if(response.length == 0) {
       var tmp = this.levelRoom.split('-');
       
       this.set('classRoom',{'value':{
         'doc_type':'class_info',
         'host':this.host, 
         year:this.year,
         level:tmp[0],
         room:tmp[1],
         students:[]
       }});
       this.$.loader.query = {'match':[
         this.host,tmp[0],tmp[1]],'limit':-1};
       this.set('loaded',false);
     } else {
       this.set('loaded',true);
       this.set('classRoom',{'key':response[0].key,
          'value':response[0].value});
     }
   },
   _loadStudent:function(e) {
     var self = this;
     this.$.loader.start();
   },
   _onStudentLoaded:function(e) {
     this.set('classRoom.value.students',e.detail.data);
     this.$.classRoom.save();
     this.set('loaded',true);
   },
   __computeDb:function(year) {
     var tmp = "dmc59_1";
     if(year == '2016') tmp='dmc59_1';
     return tmp;
   },
   _labelStudent:function(student) {
     return student.value.IDNO+' '+
       student.value.NAME+' '+
       student.value.LNAME;
   },
   _toggleContent:function(e) {
     this.set('showContent',!this.showContent);
   }
  });
 </script>

</dom-module>
