<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">

<dom-module is="teacher-card">
 <template>
   <style is="custom-style">
     :host {
       @apply(--paper-font-display);
       @apply(--layout-horizontal);
       padding-top:5px;
       padding-bottom:5px;
       padding-left:10px;
       cursor:pointer;
       cursor:hand;
       border-bottom:1px solid var(--paper-grey-500);
     }

   </style>
   <paper-item>{{_name}}</paper-item>
 </template>
 <script>
  Polymer({
   is:"teacher-card",
   properties:{
     doc:{
       type:Object
     },
     _name:{
       type:String,
       computed:'__computeName(doc)'
     }
   },
   listeners:{
     'tap':'_onTap'
   },
   __computeName:function(doc) {
    return doc.key[2][0]+' '+doc.key[2][1];
   },
   _onTap:function(e) {
     this.fire('select-teacher',{'key':this.doc.value});
   }
  });
 </script>
</dom-module>
