<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../leveldb-document.html">
<link rel="import" href="teacher-card.html">

<dom-module id="teacher-app">
 <template>
  <style is="custom-style"
     include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
      background:var(--paper-grey-400);
    }

    .teacher-list {
      @apply(--layout-horizontal);
      @apply(--layout-center-justified);
    }

    paper-fab {
      position:fixed;
      right:25px;
      bottom:30px;
      --paper-fab-background: var(--paper-red-500);
    }

    .teacher-list div {
      @apply(--layout-flex);
    }
     
    app-toolbar {
      background-color:var(--paper-grey-200);
      height:40px;
      --app-toolbar-font-size:16px;
    }
    
    paper-item {
      border-bottom:1px solid var(--paper-grey-500);
    }
    
    .edit-content {
      @apply(--layout-vertical);
      @apply(--layout-flex);
      padding:10px;
    }
  </style>

  <paper-dialog id="addDialog">
   <h2>ข้อมูลพื้นฐาน</h2>
   <p>
    <paper-input label="ชื่อ" value="{{teacher.value.Firstname}}">
    </paper-input>
    <paper-input label="นามสกุล" value="{{teacher.value.Lastname}}">
    </paper-input>
   </p>
   <div class="buttons">
     <paper-button dialog-dismiss>Cancel</paper-button>
     <paper-button dialog-confirm on-tap="_save" autofocus>
       Accept
     </paper-button>
   </div>
  </paper-dialog>

  <app-localstorage-document
    key="jwtToken"
    data="{{token}}">
  </app-localstorage-document>

  <paper-toast id="status"></paper-toast>

  <iron-ajax auto 
    id="listAjax"
    url="https://maas.nuqlis.com:9000/api/query/teacher_db/hostid"
    method="POST"
    handle-as="json"
    content-type="application/json"
    headers$='{"Authorization":"JWT {{token.token}}"}'
    last-response="{{_lastResponse}}"
    body$='{"match":["{{host}}"],"limit":-1}'>
  </iron-ajax>

  <leveldb-document 
    id="leveldb"
    url="https://maas.nuqlis.com:9000/api"
    db="teacher_db"
    document="{{teacher}}"
    key="{{_teacherKey}}">
  </leveldb-document>
  
  <iron-pages selected="{{page}}" attr-for-selected="name">
   <div name="list" class="teacher-list">
    <div>
    <template is="dom-repeat" sort="_byName"
      items="{{_lastResponse}}">
      <teacher-card doc="{{item}}"></teacher-card>
    </template>
    </div>
   </div>
   <div name="edit" class="edit-content">
    <paper-input label="ชื่อ" value="{{teacher.value.Firstname}}">
    </paper-input>
    <paper-input label="นามสกุล" value="{{teacher.value.Lastname}}">
    </paper-input>
   </div>
  </iron-pages>

  <paper-fab icon="add" on-tap="_prepareInsert"></paper-fab>

 </template>
 <script>
  Polymer({
   is: 'teacher-app',
   properties:{
     host:{
       type:String
     },
     page:{
       type:String,
       readOnly:true,
       value:'list'
     },
     title:{
       type:String,
       computed:'__computeTitle(page)'
     }
   },
   listeners:{
     'leveldb-response':'_onLevelResponse'
   },
   _edit:function(e) {
     this._setPage('edit');
   },
   _back:function(e) {
     if(this.page == "edit") {
       this._setPage('list');
     }
   },
   _save:function(e) {
     this.$.leveldb.save();
   },
   _onLevelResponse:function(e) {
     if(e.detail.method == 'put') {
       if(e.detail.response.ok) {
         this.$.status.text = 'Save successful';
       } else {
         this.$.status.text = e.detail.reponse.message;
       }
       this.$.status.open();
     }

     if(e.detail.method == 'add') {
       if(e.detail.response.ok) {
         this.$.status.text = 'Insert successful';
         this.$.listAjax.generateRequest();
       } else {
         this.$.status.text = e.detail.reponse.message;
       }
       this.$.status.open();
     }

     if(e.detail.method == 'del') {
       console.log(e.detail);
       if(e.detail.response.ok) {
         this.$.status.text = 'Delete successful';
         this.$.listAjax.generateRequest();
       } else {
         this.$.status.text = e.detail.reponse.message;
       }
       this.$.status.open();
     }
   },
   refresh:function() {
     this.$.status.text = "Refresh teacher content";
     this.$.status.open();
     this.$.listAjax.generateRequest();
   },
   __computeTitle:function(page) { 
     if(page == 'list') return 'รายชื่อครูประจำโรงเรียน';
     if(page == 'edit') return 'ข้อมูลครู';
   },
   _equal:function(a,b) {
     return a == b;
   },
   _prepareInsert:function(e) {
     this.set('teacher',{value:{
       HostID:this.host
     }});
     this.$.addDialog.open();
   },
   _name:function(doc) {
     return doc.key[2][0]+' '+doc.key[2][1];
   },
   _byName:function(a,b) {
     var t1 = a.key[2][0]+' '+a.key[2][1];
     var t2 = b.key[2][0]+' '+b.key[2][1];
     return  t1.localeCompare(t2);
   }

  });
 </script>

</dom-module>
