<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../leveldb-document.html">
<link rel="import" href="teacher-card.html">

<dom-module id="teacher-app">
 <template>
  <style is="custom-style"
     include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
    }

    app-toolbar {
      background-color:var(--paper-grey-200);
      height:40px;
      --app-toolbar-font-size:16px;
    }
    
    paper-item {
      border-bottom:1px solid var(--paper-grey-500);
    }
    
    .edit-content {
      @apply(--layout-vertical);
      @apply(--layout-flex);
      padding:10px;
      
    }
  </style>

  <app-header-layout has-scrolling-region style="height: 400px;">
  <app-header fixed>
  <app-toolbar >
    <paper-icon-button icon="refresh" 
      hidden$="{{_equal(page,'edit')}}"
      on-tap="_refresh">
    </paper-icon-button>
    <paper-icon-button icon="arrow-back" 
      hidden$="{{_equal(page,'list')}}"
      on-tap="_back">
    </paper-icon-button>
    <div main-title>{{title}}</div>
    <paper-icon-button icon="add"
      hidden$="{{!_equal(page,'list')}}"
      on-tap="_add">
    </paper-icon-button>
    <paper-icon-button icon="save"
      hidden$="{{_equal(page,'list')}}"
      on-tap="_save">
    </paper-icon-button>
    <paper-icon-button icon="delete"
      hidden$="{{_equal(page,'list')}}"
      onclick="dialog.open()">
    </paper-icon-button>
  </app-toolbar>
  </app-header>

  <paper-dialog id="dialog">
  <h2>ยืนยันการลบ</h2>
  <p>
    ต้องการลบข้อมูลครู
    <span>{{teacher.value.Firstname}}</span>
    <span>{{teacher.value.Lastname}}</span>
  </p>
  <div class="buttons">
    <paper-button dialog-dismiss>Cancel</paper-button>
    <paper-button dialog-confirm on-tap="_delete" autofocus>
      Accept
    </paper-button>
  </div>
</paper-dialog>

  <app-localstorage-document
    key="jwtToken"
    data="{{token}}">
  </app-localstorage-document>

  <paper-toast id="status"></paper-toast>

  <iron-ajax auto 
    id="listAjax"
    url="https://maas.nuqlis.com:9000/api/query/teacher_db/hostid"
    method="POST"
    handle-as="json"
    content-type="application/json"
    headers$='{"Authorization":"JWT {{token.token}}"}'
    last-response="{{_lastResponse}}"
    body$='{"match":["{{host}}"],"limit":-1}'>
  </iron-ajax>

  <leveldb-document 
    id="leveldb"
    url="https://maas.nuqlis.com:9000/api"
    db="teacher_db"
    document="{{teacher}}"
    key="{{_teacherKey}}">
  </leveldb-document>
  
  <iron-pages selected="{{page}}" attr-for-selected="name">
   <paper-listbox name="list" 
     on-iron-select="_edit"
     attr-for-selected="name" selected="{{_teacherKey}}"> 
    <template is="dom-repeat" sort="_byName"
      items="{{_lastResponse}}">
      <paper-item name="{{item.value}}">{{_name(item)}}</paper-item>
    </template>
   </paper-listbox>
   <div name="edit" class="edit-content">
    <paper-input label="ชื่อ" value="{{teacher.value.Firstname}}">
    </paper-input>
    <paper-input label="นามสกุล" value="{{teacher.value.Lastname}}">
    </paper-input>
   </div>
  </iron-pages>
  </app-header-layout>

 </template>
 <script>
  Polymer({
   is: 'teacher-app',
   properties:{
     host:{
       type:String
     },
     page:{
       type:String,
       readOnly:true,
       value:'list'
     },
     title:{
       type:String,
       computed:'__computeTitle(page)'
     }
   },
   listeners:{
     'leveldb-response':'_onLevelResponse',
   },
   _edit:function(e) {
     this._setPage('edit');
   },
   _back:function(e) {
     if(this.page == "edit") {
       this._setPage('list');
     }
   },
   _save:function(e) {
     this.$.leveldb.save();
   },
   _onLevelResponse:function(e) {
     if(e.detail.method == 'put') {
       if(e.detail.response.ok) {
         this.$.status.text = 'Save successful';
       } else {
         this.$.status.text = e.detail.reponse.message;
       }
       this.$.status.open();
     }

     if(e.detail.method == 'del') {
       console.log(e.detail);
       if(e.detail.response.ok) {
         this.$.status.text = 'Delete successful';
       } else {
         this.$.status.text = e.detail.reponse.message;
       }
       this.$.status.open();
     }
   },
   _refresh:function(e) {
     this.$.status.text = "Refresh teacher content";
     this.$.status.open();
     this.$.listAjax.generateRequest();
   },
   __computeTitle:function(page) { 
     if(page == 'list') return 'รายชื่อครูประจำโรงเรียน';
     if(page == 'edit') return 'ข้อมูลครู';
   },
   _equal:function(a,b) {
     return a == b;
   },
   _add:function(e) {
     this.set('teacher',{value:{
       HostID:this.host
     }});
     this._setPage('edit');
   },
   _delete:function(e) {
     this.$.leveldb.delete();
     this._setPage('list');
     this.$.listAjax.generateRequest();
   },
   _name:function(doc) {
     return doc.key[2][0]+' '+doc.key[2][1];
   },
   _byName:function(a,b) {
     var t1 = a.key[2][0]+' '+a.key[2][1];
     var t2 = b.key[2][0]+' '+b.key[2][1];
     return  t1.localeCompare(t2);
   }

  });
 </script>

</dom-module>
