<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="classteacher-select.html">
<link rel="import" href="../document-loader.html">
<link rel="import" href="../host-info.html">

<dom-module id="teacher-app">
 <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
    }
    .student-panel {
      margin-top:10px;
    }
    paper-tabs {
      background:var(--paper-blue-500);
      color:#ffffff;
    }
    .room-info {
      border:1px solid #efefef;
      padding:5px;
    }
    paper-toolbar {
      --paper-toolbar-title: {
        font-weight: bold;
        height:100%;
      };
    }
    .page {
      padding:5px;
    }
    paper-progress {
      padding:5px;
    }
    .teacher-dropdown {
      width:250px;
    }
  </style>

  <paper-toolbar>
    <paper-icon-button icon="save" on-tap="_save">
    </paper-icon-button>
    <span class="title layout horizontal center">
      <div>ข้อมูลครูและนักเรียน</div>
    </span>
  </paper-toolbar>

  <host-info host="{{host}}" id="hostInfo" document="{{hostInfo}}">
  </host-info>
  
  <paper-tabs selected="{{page}}" attr-for-selected="name" 
     scrollable>
    <paper-tab name="teacher">ครูในโรงเรียน</paper-tab>
    <paper-tab name="student">นักเรียน</paper-tab>
  </paper-tabs>

  <iron-pages selected="{{page}}" attr-for-selected="name">
   <div name="teacher" class="layout vertical">
    <div>  
     <paper-button on-tap="_loadTeacher" raised>Load</paper-button>
    </div>

    <template is="dom-if" if="{{!_teacherLoaded(hostInfo.value.teachers)}}">
      <document-loader id="teacherLoader"
        interactive
        db="teacher_db" view="hostid"
        on-finish="_onTeacherLoaded"
        query$='{"match":["{{host}}"],"limit":-1}'>
      </document-loader>
    </template>

     <div>
       จำนวนคุณครูในโรงเรียน 
       <span>{{hostInfo.value.teachers.length}}</span>
       คน
     </div>
     <paper-dropdown-menu label="รายชื่อครู" class="flex" 
       horizontal-align="left">
      <paper-listbox selected="{{_teacherId}}"
        attr-for-selected="name"
        class="dropdown-content teacher-dropdown">
       <template is="dom-repeat" items="{{hostInfo.value.teachers}}">
        <paper-item name="{{item._teacher}}">
          {{item.name}}
        </paper-item>
       </template>
      </paper-listbox>
     </paper-dropdown-menu>
     <span>{{_teacherId}}</span>
   </div>


   <div name="student" class="student-panel">
    <paper-button on-tap="_loadStudent" raised>Load</paper-button>
    <template is="dom-if" if="{{!_levelLoaded(hostInfo.value.levels)}}">
      <document-loader db="dmc59_1" view="hostid"
        id="studentLoader"
        interactive
        on-finish="_onStudent"
        query$='{"match":["{{host}}"],"limit":-1}'>
      </document-loader>
     </template>
     <paper-tabs selected="{{selectedLevel}}" 
       attr-for-selected="name" scrollable>
       <template is="dom-repeat" items="{{hostInfo.value.levels}}">
        <paper-tab name="{{item.level}}">{{item.level}}</paper-tab>
       </template>
     </paper-tabs>

     <iron-pages selected="{{selectedLevel}}" attr-for-selected="name">
      <template is="dom-repeat" items="{{hostInfo.value.levels}}" as="level">
        <div name="{{level.level}}" class="layout vertical">
         <div class="layout horizontal center">
          <div class="flex-1">Room</div>
          <div class="flex-1">Students</div>
          <div class="flex-1">Class Teacher</div>
          <div class="flex-1"></div>
         </div>
         <template is="dom-repeat" items="{{level.rooms}}">
           <div class="layout horizontal start room-info">
            <div class="flex-1">{{item.room}}</div>
            <div class="flex-1">{{item.student}}</div> 
            <div class="flex-1 layout vertical">
             <template is="dom-repeat" items="{{item.classteachers}}" as="t">
              <div>{{_teacherName(hostInfo.value.teachers,t)}}</div>
             </template>
            </div>
            <div class="flex-1 layout vertical">
              <classteacher-select 
                selected="{{item.classteachers}}"
                list="{{hostInfo.value.teachers}}">
              </classteacher-select>
            </div>
          </div>
         </template>
        </div>
      </template>
     </iron-pages>
   </div>
  </iron-pages>
    
 </template>
 <script>
  Polymer({
   is: 'teacher-app',
   properties:{
     host:{
       type:String
     },
     page:{
       type:String,
       value:function() {
         return "teacher";
       }
     }
   },
   _save:function(e) {
     this.$.hostInfo.save();
   },
   _teacherName:function(teachers,key) {
     for(var i=0;i<teachers.length;i++) {
       if(teachers[i]._teacher == key) {
         return teachers[i].name;
       }
     }
   },
   _teacherLoaded:function(teachers) {
     return teachers && teachers.length > 0;
   },
   _loadTeacher:function() {
     this.set('hostInfo.value.teachers',[]);
     var ele = this.$$('#teacherLoader');
     if(ele) {
       ele._reload();
     }
   },
   _loadStudent:function() {
     this.set('hostInfo.value.levels',[]);
     var ele = this.$$('#studentLoader');
     if(ele) {
       ele._reload();
     }
   },
   _onTeacherLoaded:function(e) {
     var self = this;
     e.detail.data.forEach(function(doc) {
       self.push('hostInfo.value.teachers',{
        '_teacher':doc.key,
        'name':doc.value.Firstname+' '+doc.value.Lastname
       });
     });
   },
   _levelLoaded:function(levels) {
     return levels && levels.length > 0;
   },
   __computeLevels:function(hostInfo) {
     var result = [];
     var dict = ['อ.','ป.','ม.'];
     var level = hostInfo.value.level;
     for(var key in level) {  
       var tmp = {'level':key,'room':[]}; 
       var intLevel = Number(key);
       if(intLevel<=15) tmp['label']=dict[2]+(intLevel-9);
       if(intLevel<=9) tmp['label']=dict[1]+(intLevel-3);
       if(intLevel<=3) tmp['label']=dict[0]+intLevel;
       for(var room in level[key]) {
         tmp['room'].push({'room':room,'student':level[key][room]});
       }
       result.push(tmp);
     }
     result.sort(function(a,b) {
       return Number(a.level)>=Number(b.level)?1:-1; 
     });
     return result;
   },
   _onStudent:function(e) {
     var students = e.detail.data;
     var level = this.hostInfo.value.levels;
     var _level = {};
     students.forEach(function(doc) {
       var student = doc.value;
       if(!_level[student.LEVEL]) {
         _level[student.LEVEL] = {};
       }
       if(!_level[student.LEVEL][student.CLASSROOM]) {
         _level[student.LEVEL][student.CLASSROOM] = {'student':0};
       }
       _level[student.LEVEL][student.CLASSROOM].student++;
     });

     var tmp = [];
     this.hostInfo.value.levels = [];
     for(var key in _level) {
       var _l = {'level':key,'rooms':[]};
       for(var room in _level[key]) {
         _l.rooms.push({
           'room':room,
           'student':_level[key][room].student
         });
       }
       tmp.push(_l);
     }
     this.set('hostInfo.value.levels',tmp);
   }
  });
 </script>

</dom-module>
