<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="classteacher-select.html">
<link rel="import" href="../document-loader.html">
<link rel="import" href="../host-info.html">

<dom-module id="teacher-app">
 <template>
  <style include="iron-flex iron-flex-alignment iron-flex-factors">
    :host {
      display:box;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
    }
    .panel {
      margin-top:10px;
    }
    paper-tabs {
      background:var(--paper-blue-500);
      color:#ffffff;
    }
    .room-info {
      border:1px solid #efefef;
      padding:5px;
    }
    paper-toolbar {
      --paper-toolbar-title: {
        font-weight: bold;
        height:100%;
      };
    }
    .page {
      padding:5px;
    }
    paper-progress {
      padding:5px;
    }
    .level {
      background:#efefef;
      padding-left:20px;
    }
    .room-info {
      padding-left:30px;
    }
    .teacher-dropdown {
      width:250px;
    }
  </style>

  <paper-toolbar>
    <paper-icon-button icon="save" on-tap="_save">
    </paper-icon-button>
    <span class="title layout horizontal center">
      <div>ข้อมูลครูและนักเรียน</div>
    </span>
  </paper-toolbar>

  <host-info host="{{host}}" id="hostInfo" document="{{hostInfo}}">
  </host-info>
  
   <div name="teacher" class="layout vertical panel">
    <template is="dom-if" if="{{!_teacherLoaded(hostInfo.value.teachers)}}">
      <document-loader id="teacherLoader"
        interactive
        db="teacher_db" view="hostid"
        on-finish="_onTeacherLoaded"
        query$='{"match":["{{host}}"],"limit":-1}'>
      </document-loader>
    </template>

     <div>
       จำนวนคุณครูในโรงเรียน 
       <span>{{hostInfo.value.teachers.length}}</span>
       คน
       <paper-icon-button on-tap="_loadTeacher" icon="cached">
       </paper-icon-button>
     </div>
     <!--
     <template is="dom-repeat" items="{{hostInfo.value.teachers}}">
      <div>{{item.name}}</div>
     </template>
     -->
   </div>


   <div name="student" class="panel layout vertical">

    <div class="layout horizontal">
      <paper-button on-tap="_loadStudent" raised>Load</paper-button>
    </div>

    <template is="dom-if" if="{{!_levelLoaded(hostInfo.value.levels)}}">
      <document-loader db="dmc59_1" view="hostid"
        id="studentLoader"
        interactive
        on-finish="_onStudent"
        query$='{"match":["{{host}}"],"limit":-1}'>
      </document-loader>
    </template>
   
    <div class="layout horizontal">
     <paper-dropdown-menu label="ระดับชั้น" class="flex" 
       horizontal-align="left">
      <paper-listbox selected="{{_selectedLevel}}"
        attr-for-selected="name"
        class="dropdown-content teacher-dropdown">
       <template is="dom-repeat" items="{{hostInfo.value.levels}}">
        <paper-item name="{{item.level}}">
          {{_levelLabel(item.level)}}
        </paper-item>
       </template>
      </paper-listbox>
     </paper-dropdown-menu>

     <paper-dropdown-menu label="ห้อง" class="flex" 
       horizontal-align="left">
      <paper-listbox selected="{{_selectedRoom}}"
        attr-for-selected="name"
        class="dropdown-content teacher-dropdown">
       <template is="dom-repeat" items="{{_roomList(hostInfo.value.levels,_selectedLevel)}}">
        <paper-item name="{{item.room}}">
          {{item.room}}
        </paper-item>
       </template>
      </paper-listbox>
     </paper-dropdown-menu>
    </div>
  
    <div>
      จำนวนนักเรียน
      <span>{{_roomInfo.room.student}}</span>
    </div>

    <div class="layout vertical">
      <template is="dom-if" if="{{_notNull(_roomInfo.classteachers)}}">
      <classteacher-select 
        title="รายชื่อคุณครูประจำชั้น"
        selected="{{_roomInfo.classteachers.classteachers}}"
        list="{{hostInfo.value.teachers}}">
        <ol>
         <template is="dom-repeat" 
            items="{{_roomInfo.classteachers.classteachers}}">
            <li>{{_teacherName(hostInfo.value.teachers,item)}}</li>
         </template>
        </ol>
      </classteacher-select>
      </template>
    </div>

   </div>
    
 </template>
 <script>
  Polymer({
   is: 'teacher-app',
   properties:{
     host:{
       type:String
     },
     page:{
       type:String,
       value:function() {
         return "teacher";
       }
     },
     _roomInfo:{
       type:Object,
       computed:'__computeRoomInfo(hostInfo.value.classteachers,hostInfo.value.levels,_selectedLevel,_selectedRoom)'
     }
   },
   _save:function(e) {
     this.$.hostInfo.save();
   },
   _teacherName:function(teachers,key) {
     for(var i=0;i<teachers.length;i++) {
       if(teachers[i]._teacher == key) {
         return teachers[i].name;
       }
     }
   },
   _teacherLoaded:function(teachers) {
     return teachers && teachers.length > 0;
   },
   _roomList:function(levels,selected) {
     for(var i=0;i<levels.length;i++) {
       if(levels[i].level == selected) {
         return levels[i].rooms;
       }
     }
     return [];
   },
   _studentCount:function(levels,level,room) {
     for(var i=0;i<levels.length;i++) {
       if(levels[i].level == level) {
         for(var j=0;j<levels[i].rooms.length;j++) {
           if(levels[i].rooms[j].room == room) {
             console.log('found',levels[i].rooms[j].student); 
             return levels[i].rooms[j].student;
           }
         }
       }
     }
     return '';
   },
   __computeRoomInfo:function(classteachers,levels,level,room) {
     // find classteachers
     console.log('compute roomInfo');
     var cteachers = null;
     for(var i=0;i<classteachers.length;i++) {
       if(classteachers[i].level == level && 
          classteachers[i].room == room) { 
          cteachers = classteachers[i];
       }
     }

     if(!cteachers) {
       cteachers = {'level':level,'room':room,'classteachers':[]};
       classteachers.push(cteachers);
     }

     for(var i=0;i<levels.length;i++) {
       if(levels[i].level == level) {
         for(var j=0;j<levels[i].rooms.length;j++) {
           if(levels[i].rooms[j].room == room) {
             console.log({'classteachers':cteachers,
               'room':levels[i].rooms[j]});
             return {'classteachers':cteachers,
               'room':levels[i].rooms[j]};
           }
         }
       }
     }
     return {};
   },
   _loadTeacher:function() {
     this.set('hostInfo.value.teachers',[]);
     var ele = this.$$('#teacherLoader');
     if(ele) {
       ele._reload();
     }
   },
   _loadStudent:function() {
     this.set('hostInfo.value.levels',[]);
     var ele = this.$$('#studentLoader');
     if(ele) {
       ele._reload();
     }
   },
   _onTeacherLoaded:function(e) {
     var self = this;
     e.detail.data.forEach(function(doc) {
       self.push('hostInfo.value.teachers',{
        '_teacher':doc.key,
        'name':doc.value.Firstname+' '+doc.value.Lastname
       });
     });
   },
   _levelLoaded:function(levels) {
     return levels && levels.length > 0;
   },
   _levelLabel:function(level) {
     var dict = ['อนุบาล ','ประถมศึกษา ','มัธยมศึกษา '];
     var intLevel = Number(level);
     var tmp = '';
     if(intLevel<=15) tmp=dict[2]+(intLevel-9);
     if(intLevel<=9) tmp=dict[1]+(intLevel-3);
     if(intLevel<=3) tmp=dict[0]+intLevel;
     return tmp;
   },
   __computeLevels:function(hostInfo) {
     var result = [];
     var dict = ['อนุบาล','ประถมศึกษา','มัธยมศึกษา'];
     var level = hostInfo.value.level;
     for(var key in level) {  
       var tmp = {'level':key,'room':[]}; 
       var intLevel = Number(key);
       if(intLevel<=15) tmp['label']=dict[2]+(intLevel-9);
       if(intLevel<=9) tmp['label']=dict[1]+(intLevel-3);
       if(intLevel<=3) tmp['label']=dict[0]+intLevel;
       for(var room in level[key]) {
         tmp['room'].push({'room':room,'student':level[key][room]});
       }
       result.push(tmp);
     }
     result.sort(function(a,b) {
       return Number(a.level)>=Number(b.level)?1:-1; 
     });
     return result;
   },
   _onStudent:function(e) {
     var students = e.detail.data;
     var level = this.hostInfo.value.levels;
     var _level = {};
     students.forEach(function(doc) {
       var student = doc.value;
       if(!_level[student.LEVEL]) {
         _level[student.LEVEL] = {};
       }
       if(!_level[student.LEVEL][student.CLASSROOM]) {
         _level[student.LEVEL][student.CLASSROOM] = {'student':0};
       }
       _level[student.LEVEL][student.CLASSROOM].student++;
     });

     var tmp = [];
     this.hostInfo.value.levels = [];
     for(var key in _level) {
       var _l = {'level':key,'rooms':[]};
       for(var room in _level[key]) {
         _l.rooms.push({
           'room':room,
           'student':_level[key][room].student
         });
       }
       tmp.push(_l);
     }
     this.set('hostInfo.value.levels',tmp);
   },
   _notNull:function(obj) {
     return obj != null;
   }
  });
 </script>

</dom-module>
