<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<link rel="import" href="hv-student.html">
<link rel="import" href="hv-risk.html">
<link rel="import" href="hv-family-relation.html">
<link rel="import" href="hv-pic-home-student.html">
<link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">

<dom-module id="student-homevisit">
  <template>
    <style is="custom-style" include="iron-flex iron-flex-alignment iron-flex-factors">
       :host {
        @apply --layout-vertial;
        font-family: 'Athiti', sans-serif;
        /*background-color: white;*/
      }
      app-toolbar {
        /*background-color: var(--paper-red-500);*/
        background-color: #cd333f;
        color: white;
      }
      paper-material {
        padding: 2px;
      }
      paper-tabs {
        --paper-tabs-selection-bar-color: #F44336;
        background-color: var(--paper-grey-200);
        height: 40px;
      }
      .bg{
        background-color: white;
      }
      .font-face {
        font-family: 'Athiti', sans-serif;
        margin-left: 20px;
      }
      .font-face-big {
        font-family: 'Athiti', sans-serif;
        font-size: 120%;
      }
    </style>

    <paper-material elevation="0">
      <div class="flex layout horizontal">
        <div class="flex-6">&nbsp;</div>
        <div class="flex-6">
          <user-profile></user-profile>
        </div>
      </div>
      <app-toolbar>
        <div main-title>เยี่ยมบ้าน</div>
      </app-toolbar>
        <paper-tabs selected="{{page}}" no-slide>
          <paper-tab><div class="font-face-big">นักเรียน</div></paper-tab>
          <paper-tab><div class="font-face-big">ความสัมพันธ์ในครอบครัว</div></paper-tab>
          <paper-tab><div class="font-face-big">พฤติกรรมและความเสี่ยง</div></paper-tab>
          <paper-tab><div class="font-face-big">ภาพถ่ายบ้านนักเรียน</div></paper-tab>
        </paper-tabs>
        <iron-pages selected="{{page}}" class="bg">
          <div><hv-student cid="{{cid}}"></hv-student></div>
          <div><hv-family-relation></hv-family-relation></div>
          <div><hv-risk></hv-risk></div>
          <div><hv-pic-home-student><hv-pic-home-student></div>
        </iron-pages>
    </paper-material>
  </template>

  <script>
    Polymer({
      is: 'student-homevisit',
      properties: {
        cid: {
          type:String,
          reflectToAttribute:true
        },
        page: {
          type: Number,
          value: 0
        }
      }
    });
  </script>
</dom-module>