<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="student-loader.html">

<dom-module id="student-app">
 <template>
  <style is="custom-style"
     include="iron-flex iron-flex-alignment iron-flex-factors">

    :host {
      display:box;
      padding:5px;
      @apply(--layout-vertical);
      @apply(--paper-font-body2);
    }
  </style>

  <host-info host="{{host}}" id="hostInfo" document="{{hostInfo}}">
  </host-info>

  <student-loader host="{{host}}" year="2016"></student-loader>
   
 </template>
 <script>
  Polymer({
   is: 'student-app',
   properties:{
     host:{
       type:String
     }
   }
  });
 </script>

</dom-module>
